     <div id="areaChart" class="admin-chart"></div>
               <div class="row datepicker">
                <ui-select ng-model="selected.user" class="btn-group bootstrap-select form-control" ng-disabled="false" append-to-body="true" search-enabled="true">
                    <ui-select-match placeholder="Select first user">
                        {{selected.user.nickName}}
                    </ui-select-match>
                    <ui-select-choices minimum-input-length="1" refresh="fetchUsers($select.search)" repeat="withSearchItem in usersList | filter:  $select.search">
                        <span ng-bind-html="withSearchItem.nickName"></span>
                    </ui-select-choices>
                </ui-select>
                <!--Date  pickers -->
                <div class="col-md-3">
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup ng-model="dates.start" is-open="opened.start" datepicker-options="options" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openStart()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
                <div class="col-md-3">
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup ng-model="dates.end" is-open="opened.end" datepicker-options="options" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openEnd()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
                <!--//Date  pickers -->
                   <button style="float: right;margin-right: 15px;" ng-click="updateUserActivity()" type="button" class="btn btn-success btn-icon"><i class="ion-android-checkmark-circle"></i></button>
                
            </div>
  
