.DS_Store
.classpath
.project
.settings
.metadata
.gradle
/target
*/target
/build
*/build
/bin
*/bin
src/main/resources/rebel.xml
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/gradle.xml
.idea/misc.xml
.idea/workspace.xml
.idea/artifacts/Gradle___crmChat_war.xml
.idea/artifacts/Gradle___crmChat_war__exploded_.xml
.idea/libraries/Gradle__antlr_antlr_2_7_7.xml
.idea/libraries/Gradle__aopalliance_aopalliance_1_0.xml
.idea/libraries/Gradle__ch_qos_logback_logback_classic_1_1_3.xml
.idea/libraries/Gradle__ch_qos_logback_logback_core_1_1_3.xml
.idea/libraries/Gradle__com_fasterxml_classmate_1_1_0.xml
.idea/libraries/Gradle__com_fasterxml_jackson_core_jackson_annotations_2_6_4.xml
.idea/libraries/Gradle__com_fasterxml_jackson_core_jackson_core_2_6_4.xml
.idea/libraries/Gradle__com_fasterxml_jackson_core_jackson_databind_2_6_4.xml
.idea/libraries/Gradle__com_zaxxer_HikariCP_2_4_3.xml
.idea/libraries/Gradle__commons_collections_commons_collections_3_2_2.xml
.idea/libraries/Gradle__commons_fileupload_commons_fileupload_1_3_1.xml
.idea/libraries/Gradle__commons_io_commons_io_2_4.xml
.idea/libraries/Gradle__commons_lang_commons_lang_2_4.xml
.idea/libraries/Gradle__dom4j_dom4j_1_6_1.xml
.idea/libraries/Gradle__javax_activation_activation_1_1.xml
.idea/libraries/Gradle__javax_mail_mail_1_4.xml
.idea/libraries/Gradle__javax_transaction_javax_transaction_api_1_2.xml
.idea/libraries/Gradle__javax_validation_validation_api_1_1_0_Final.xml
.idea/libraries/Gradle__junit_junit_4_12.xml
.idea/libraries/Gradle__mysql_mysql_connector_java_5_1_38.xml
.idea/libraries/Gradle__nz_net_ultraq_thymeleaf_thymeleaf_layout_dialect_1_3_1.xml
.idea/libraries/Gradle__ognl_ognl_3_0_8.xml
.idea/libraries/Gradle__org_apache_commons_commons_collections4_4_1.xml
.idea/libraries/Gradle__org_apache_commons_commons_pool2_2_4_2.xml
.idea/libraries/Gradle__org_apache_tomcat_embed_tomcat_embed_core_8_0_30.xml
.idea/libraries/Gradle__org_apache_tomcat_embed_tomcat_embed_el_8_0_30.xml
.idea/libraries/Gradle__org_apache_tomcat_embed_tomcat_embed_logging_juli_8_0_30.xml
.idea/libraries/Gradle__org_apache_tomcat_embed_tomcat_embed_websocket_8_0_30.xml
.idea/libraries/Gradle__org_apache_tomcat_tomcat_jdbc_8_0_30.xml
.idea/libraries/Gradle__org_apache_tomcat_tomcat_juli_8_0_30.xml
.idea/libraries/Gradle__org_apache_velocity_velocity_1_7.xml
.idea/libraries/Gradle__org_aspectj_aspectjweaver_1_8_7.xml
.idea/libraries/Gradle__org_codehaus_groovy_groovy_2_4_4.xml
.idea/libraries/Gradle__org_flywaydb_flyway_core_4_0_3.xml
.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3.xml
.idea/libraries/Gradle__org_hamcrest_hamcrest_library_1_3.xml
.idea/libraries/Gradle__org_hibernate_common_hibernate_commons_annotations_4_0_5_Final.xml
.idea/libraries/Gradle__org_hibernate_hibernate_core_4_3_11_Final.xml
.idea/libraries/Gradle__org_hibernate_hibernate_entitymanager_4_3_11_Final.xml
.idea/libraries/Gradle__org_hibernate_hibernate_validator_5_2_2_Final.xml
.idea/libraries/Gradle__org_hibernate_javax_persistence_hibernate_jpa_2_1_api_1_0_0_Final.xml
.idea/libraries/Gradle__org_javassist_javassist_3_18_1_GA.xml
.idea/libraries/Gradle__org_jboss_jandex_1_1_0_Final.xml
.idea/libraries/Gradle__org_jboss_logging_jboss_logging_3_3_0_Final.xml
.idea/libraries/Gradle__org_jboss_logging_jboss_logging_annotations_1_2_0_Beta1.xml
.idea/libraries/Gradle__org_json_json_20090211.xml
.idea/libraries/Gradle__org_mockito_mockito_core_1_10_19.xml
.idea/libraries/Gradle__org_objenesis_objenesis_2_1.xml
.idea/libraries/Gradle__org_slf4j_jcl_over_slf4j_1_7_13.xml
.idea/libraries/Gradle__org_slf4j_jul_to_slf4j_1_7_13.xml
.idea/libraries/Gradle__org_slf4j_log4j_over_slf4j_1_7_13.xml
.idea/libraries/Gradle__org_slf4j_slf4j_api_1_7_13.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_1_3_1_RELEASE.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_actuator_1_3_1_RELEASE.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_autoconfigure_1_3_1_RELEASE.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_1_3_1_RELEASE.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_actuator_1_3_1_RELEASE.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_aop_1_3_1_RELEASE.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_data_jpa_1_3_0_RELEASE.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_jdbc_1_3_1_RELEASE.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_logging_1_3_1_RELEASE.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_security_1_3_1_RELEASE.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_test_1_3_1_RELEASE.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_tomcat_1_3_1_RELEASE.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_validation_1_3_1_RELEASE.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_web_1_3_1_RELEASE.xml
.idea/libraries/Gradle__org_springframework_boot_spring_boot_starter_websocket_1_3_1_RELEASE.xml
.idea/libraries/Gradle__org_springframework_data_spring_data_commons_1_11_2_RELEASE.xml
.idea/libraries/Gradle__org_springframework_data_spring_data_jpa_1_9_2_RELEASE.xml
.idea/libraries/Gradle__org_springframework_security_spring_security_config_4_0_3_RELEASE.xml
.idea/libraries/Gradle__org_springframework_security_spring_security_core_4_0_3_RELEASE.xml
.idea/libraries/Gradle__org_springframework_security_spring_security_messaging_4_0_3_RELEASE.xml
.idea/libraries/Gradle__org_springframework_security_spring_security_web_4_0_3_RELEASE.xml
.idea/libraries/Gradle__org_springframework_session_spring_session_1_1_0_M1.xml
.idea/libraries/Gradle__org_springframework_spring_aop_4_2_4_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_aspects_4_2_4_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_beans_4_2_4_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_context_4_2_4_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_context_support_3_2_0_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_core_4_2_4_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_expression_4_2_4_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_jdbc_4_2_4_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_messaging_4_2_4_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_orm_4_2_4_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_test_4_2_4_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_tx_4_2_4_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_web_4_2_4_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_webmvc_4_2_4_RELEASE.xml
.idea/libraries/Gradle__org_springframework_spring_websocket_4_2_4_RELEASE.xml
.idea/libraries/Gradle__org_thymeleaf_thymeleaf_2_1_4_RELEASE.xml
.idea/libraries/Gradle__org_thymeleaf_thymeleaf_spring4_2_1_4_RELEASE.xml
.idea/libraries/Gradle__org_unbescape_unbescape_1_1_0_RELEASE.xml
.idea/libraries/Gradle__org_yaml_snakeyaml_1_16.xml
.idea/libraries/Gradle__redis_clients_jedis_2_7_2.xml
.idea/libraries/Gradle__xml_apis_xml_apis_1_0_b2.xml
.idea/modules.xml
.idea/modules/crmConsultant.iml
.idea/modules/crmConsultant_main.iml
.idea/modules/crmConsultant_test.iml
.idea/vcs.xml
.idea/libraries/org_springframework_boot_spring_boot_devtools_1_3_1_RELEASE.xml
.idea/libraries/org_springframework_boot_spring_boot_devtools_1_4_3_RELEASE.xml
lib/aopalliance-1.0.jar
lib/commons-logging-1.2.jar
lib/spring-aop-4.2.4.RELEASE.jar
lib/spring-beans-4.2.4.RELEASE.jar
lib/spring-boot-1.3.1.RELEASE.jar
lib/spring-boot-autoconfigure-1.3.1.RELEASE.jar
lib/spring-boot-devtools-1.3.1.RELEASE.jar
lib/spring-context-4.2.4.RELEASE.jar
lib/spring-core-4.2.4.RELEASE.jar
lib/spring-expression-4.2.4.RELEASE.jar
.idea/
out/
sh.exe.stackdump
src/main/node_modules/
!src/main/resources/static/admin-panel
src/main/resources/static/*
src/main/resources/templates/*
node_modules
gulp.1
build
.tmp

/src/release
/src/dev-release
/release
/bower_components

