<div class="items_list_block top_block">

				<div class="block_name">{{blockName}}</div>
				<div class="block_content ng-class:{unfolded:!folded}" >
					<div class="block_item" ng-repeat="participant in participants()"> 
						<div class="avatar">
							<img class="user_image" ng-src="{{$root.baseurl}}/images/avatars/{{participant.avatar}}" alt=""/>
							<img class="user_presence_icon user_online_background" ng-show="participant.online" alt=""/>
							<img class="user_presence_icon user_offline_background" ng-show="!participant.online" alt=""/>
						</div>
						<div class="text_info">
							<div class="user_name">{{participant.username}}</div>
							<div class="user_presence" ng-show="participant.online">Онлайн</div>
							<div class="user_presence" ng-show="!participant.online">Оффлайн</div>
						</div>
					</div>

				</div>				
			</div>
			<div class="chevron_wrapper" ng-click="toggleFolded()">
			<div class="chevron"></div>
			</div>