<div class="items_list_block top_block participants_block">
    <div class="block_name">{{blockName}}</div>
    <div class="block_content scroll ng-class:{unfolded:!folded}">
        <div class="block_item" ng-repeat="participant in participants() | orderBy : ['username', 'online']">
            <div class="avatar ng-class:{offline:!participant.online, online:participant.online}">
                <img class="user_image" ng-src="{{$root.baseurl}}/images/avatars/{{participant.avatar}}" alt="" />
                <div class="user_presence_icon"></div>
                <div class="user_presence_icon_wraper"></div>
            </div>
            <div class="text_info">
                <div class="user_name">{{participant.username}}</div>
                <div class="user_presence" ng-show="participant.online">Онлайн</div>
                <div class="user_presence" ng-show="!participant.online">Оффлайн</div>
            </div>
        </div>
    </div>
</div>
<div ng-if="participants().length > 1" class="chevron_wrapper participants_chevron_wrapper" ng-click="toggleFolded()">
    <div class="chevron participants_chevron ng-class:{unfolded:!folded}"></div>
</div>
