<div class="contacts_menu_strip  ng-class:{ 'visible-search': searchEnabled }">
    <div modale-toggle="true" callback="toggleSearch()" ignore-id="room_search_input" class="search_icon"><img src="images\Forma 1.svg" alt="" /></div>
    <div class="contacts_menu_item">КОНТАКТИ</div>
    <div class="last_contacts_menu_item">ОСТАННІ</div>
    <div class="group_icon"><img src="images\Shape 1.svg" alt="" /></div>
    <input szn-autocomplete="typeaheadOptions" type="text" id = "room_search_input" class="room_search_input" name="room_search_input"
           ng-model="searchInputValueEmail"  placeholder="search"
     />
</div>
<div class="items_list_block bottom_block scroll">
    <div class="section" ng-repeat="room in (roomsF = (rooms() | orderBy:'string'))">
        <div ng-if="firstLetter(roomsF[$index].string) != firstLetter(roomsF[$index-1].string)" class="section-info-block">
            <div class="section_name">{{firstLetter(room.string)}}</div>
            <div class="section-hr"></div>
        </div>
        <div class="section_content">
            <div ng-class="{selected: getCurrentRoom().roomId == room.roomId}" class="block_item selectable" ng-click="doGoToRoom(room.roomId)">
                <div class="avatar">
                    <img class="user_image" ng-src="{{$root.imagesPath}}/avatars/{{room.avatars[0]}}" alt="" />
                </div>
                <div class="text_info">
                    <div class="user_name">{{room.string}}</div>
                </div>
                <div class="contact_control">
                    <img ng-if="authorize" ng-click="toggleAskForDeleteMe($event, room)" src="images\cross13x15.png" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>
