<div id="items_list_block_mini" class="items_list_block bottom_block scroll contacts_list">
    <div class="section" ng-repeat="room in (roomsF = ((rooms() | roomsBlockFilter : tabState) | orderBy:sortBy))">
        <div class="section_content">
            <div ng-class="{selected: getCurrentRoom().roomId == room.roomId}" class="block_item selectable" ng-click="doGoToRoom(room.roomId)">
                <div class="avatar  ng-class:{offline:!isInterlocutorOnline(room), online:isInterlocutorOnline(room)}">
                    <img class="user_image" ng-src="{{$root.imagesPath}}/avatars/{{returnAvatar(room)}}" alt="" />
                    <div class="user_presence_icon" ng-show="isRoomPrivate(room)"></div>
                    <div class="user_presence_icon_wraper" ng-show="isRoomPrivate(room)"></div>
                </div>
                <div class="text_info">
                    <div class="user_name">{{room.string}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
