<div class="contacts_menu_strip   ng-class:{ 'visible-search': searchEnabled, 'visible-create' : createEnabled}">
    <div modale-toggle="true" callback="toggleSearch()" ignore-id="room_search_input" class="search_icon"><img src="images\Forma 1.svg" alt="" /></div>
    <div class="contacts_menu_item " ng-click="showContacts()" ng-class="{active: tabState == 'Contacts'}">КОНТАКТИ</div>
    <div class="last_contacts_menu_item" ng-click="showLastContacts()" ng-class="{active: tabState == 'LastContacts'}">ОСТАННІ</div>
    <div modale-toggle="true" callback="toggleCreate()" ignore-id="['room_create_input', 'items_list_block']" class="group_icon">
        <img src="images\\Shape 1.svg" alt="" />
    </div>
    <div id="create-btn" ng-hide="room_create_input.length == 0" ng-click="createNewRoom($event)" class="group_icon"><img src="images\\plus.svg" alt="" /></div>
    <input type="text" id="room_search_input" class="room_search_input" name="room_search_input" ng-model="searchInputValueEmail" placeholder="Search" ng-change="updateChatUsersByEmail(searchInputValueEmail,500)" />
    <input type="text" id="room_create_input" class="room_create_input" name="room_create_input" ng-model="room_create_input" placeholder="Name" />
</div>
<div id="items_list_block" class="items_list_block bottom_block scroll contacts_list">
    <!--IF (searchDisabled) Rooms Models list used in search -->
    <div ng-if="!searchEnabled" class="section" ng-repeat="room in (roomsF = ((getRoomsOrSearchedRooms() | roomsBlockFilter : tabState) | orderBy:sortBy))">
        <div ng-if="displayLetters && firstLetter(roomsF[$index].string) != firstLetter(roomsF[$index-1].string)" class="section-info-block">
            <div class="section_name">{{firstLetter(room.string)}}</div>
            <div class="section-hr"></div>
        </div>
        <div class="section_content">
            <div ng-class="{selected: getCurrentRoom().roomId == room.roomId}" class="block_item selectable" ng-click="doGoToRoom(room.roomId)">
                <div class="avatar  ng-class:{offline:!isInterlocutorOnline(room), online:isInterlocutorOnline(room)}">
                    <img class="user_image" ng-src="{{$root.imagesPath}}/avatars/{{returnAvatar(room)}}" alt="" />
                    <div class="user_presence_icon" ng-show="isRoomPrivate(room)"></div>
                    <div class="user_presence_icon_wraper" ng-show="isRoomPrivate(room)"></div>
                </div>
                <div class="text_info">
                    <div class="user_name">{{room.roomId}}:{{room.string}}</div>
                    <div class="user_presence">{{room.lastMessage == null ? 'Повідмлення відсутні' : room.lastMessage}}</div>
                </div>
                <div class="date">{{room.lastMessage != null ? $root.formatDateWithLast(room.date, true) : ''}}</div>
                <div class="contact_control">
                    <img ng-if="authorize && canBeRemoved(room) && createEnabled == false" ng-click="toggleAskForDeleteMe($event, room)" src="images\cross13x15.png" alt="" />
                    <checkbox ng-if="createEnabled" id="el" ng-model="include" ng-change="addForCreatRoom(room)"></checkbox>
                </div>
            </div>
        </div>
    </div>
    <!--IF(!searchDisabled) Users Models list used in search -->
    <div ng-if="searchEnabled" class="section" ng-repeat="user in (usersF = ((getRoomsOrSearchedRooms()) | orderBy:participantsSort))">
        <div ng-if="displayLetters && firstLetter(usersF[$index].nickName) != firstLetter(usersF[$index-1].nickName)" class="section-info-block">
            <div class="section_name">{{firstLetter(user.nickName)}}</div>
            <div class="section-hr"></div>
        </div>
        <div class="section_content">
            <div class="block_item selectable" ng-click="goToPrivateDialog(user.chatUserId)">
                <div class="avatar  ng-class:{offline:!isUserOnline(user.chatUserId), online:isUserOnline(user.chatUserId)}">
                    <img class="user_image" ng-src="{{$root.imagesPath}}/avatars/{{user.avatar}}" alt="" />
                    <div class="user_presence_icon"></div>
                    <div class="user_presence_icon_wraper"></div>
                </div>
                <div class="text_info">
                    <div class="user_name">{{user.chatUserId}}:{{user.nickName}}</div>
                    <div class="user_presence">{{isUserOnline(user.chatUserId) ? 'Онлайн' :'Офлайн'}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
