<ul ng-show="show" class="szn-autocomplete-results">
<li szn-autocomplete-result="true" class="szn-autocomplete-result" ng-repeat="item in results">
    <div class="avatar">
        <a target="_blank" ng-if="item.id" ng-href="{{$root.baseurl}}/profile/{{item.id}}">
                <img class="user_image" ng-src="{{$root.baseurl}}/images/avatars/{{item.avatar}}" alt="{{item.username}}" />
        </a>
        <a target="_blank" ng-if="!item.id"> <img ng-src="{{$root.baseurl}}/images/avatars/{{item.avatar}}" alt="{{item.username}}" />
        </a>
        <div ng-class="!item.online ? 'status offline' : 'status online'" class=""></div>
    </div>
    <div class="text_info">
        {{$root.getUserSearchIndetify(item, searchInputValue.email)}}
    </div>
</li>
</ul>