<div class="ng-cloak monitor-head" ba-panel ba-panel-title="Оберіть мову" ba-panel-class=" ">
	<button ng-click="saveChanges()">Save</button>
	<div class="col-md-3">
		<div class="form-group ">
			<ui-select ng-model="selected.locale" class="btn-group bootstrap-select form-control" ng-disabled="false" search-enabled="false"  append-to-body="true" on-select="onLangSelect($item)">
			<ui-select-match placeholder="Оберіть користувача">
			{{selected.locale}}
			</ui-select-match>
			<ui-select-choices  repeat="locale in locals | filter: $select.search">
			<span ng-bind-html="locale"></span>
			</ui-select-choices>
			</ui-select>
		</div>
	</div>
</div>
<div class="add-row-editable-table">
  <button class="btn btn-primary" ng-click="addRecord()">Додати запис</button>
</div>
<div class="horizontal-scroll">
	<table class="table table-hover" st-table="rowCollection"  st-safe-src="editableTableData" >
		<thead>
			<tr class="sortable">
				<th class="table-id" st-sort-default="true">#</th>
				<th st-sort="key">Name</th>
				<th st-sort="value">Translation</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td></td>
				<th><input st-search="key" placeholder="Шукати ключ" class="input-sm form-control search-input" type="search"/></th>
				<th><input st-search="value" placeholder="Шукати переклад" class="input-sm form-control search-input" type="search"/></th>
			</tr>
			<tr ng-repeat="translation in rowCollection" class="editable-tr-wrap">
				<td class="table-id">{{$index}}</td>
				<td><span editable-text="translation.key" blur="cancel">{{translation.key || 'empty'}}</span></td>
				<td><span editable-text="translation.value" blur="cancel">{{translation.value || 'empty'}}</span></td>
				<td><button class="btn btn-danger editable-table-button btn-xs" ng-click="removeRecord(translation)">Delete</button></td>
			</tr>
		</tbody>
		<tfoot>
		<tr>
			<td colspan="6" class="text-center">
				<div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="10"></div>
			</td>
		</tr>
		</tfoot>
	</table>
</div>