body {
    margin-top: 20px;
    background: #eee;
}

.container {
    background: #eee;
    position: relative;
}

.chat-head {
    min-height: 60px;
    min-width: 100%;
    background-color: #4b70a3;
}

.chat-head.chat-head-room {
    line-height: 50px;
}

.circular {
    width: 30px;
    height: 30px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
}

.circular img {
    opacity: 0;
    filter: alpha(opacity=0);
}

.vcenter {
    vertical-align: middle;
    display: inline-block;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.btn-lg i {
    left: -2px;
}

.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 25px;
}

.btn-circle .btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}

.search-form .form-group {
    float: right !important;
    transition: all 0.35s, border-radius 0s;
    width: 32px;
    height: 32px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    border-radius: 25px;
    border: 1px solid #ccc;
}

.search-form .form-group input.form-control {
    padding-right: 20px;
    border: 0 none;
    background: transparent;
    box-shadow: none;
    display: block;
}

.search-form .form-group input.form-control::-webkit-input-placeholder {
    display: none;
}

.search-form .form-group input.form-control:-moz-placeholder {
    /* Firefox 18- */
    display: none;
}

.search-form .form-group input.form-control::-moz-placeholder {
    /* Firefox 19+ */
    display: none;
}

.search-form .form-group input.form-control:-ms-input-placeholder {
    display: none;
}

.search-form .showed-search-form {
    width: 100%;
    border-radius: 4px 25px 25px 4px;
}

.search-form .form-group span.form-control-feedback {
    position: absolute;
    top: -3px;
    right: -3px;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #3596e0;
    left: initial;
    font-size: 14px;
}


/*
 *
*/

.chat-box {
    height: calc(80vh - 180px);
    width: 100%;
    overflow: auto;
}

.chat-box ul {
    margin: 0px;
}

#addRoom {
    margin-top: 20px;
}

.a_user_nickname {
    word-wrap: break-word;
}

.menu-ng-click:hover {
    cursor: pointer;
}

.buttonPlus {
    margin: 0 0 0 0;
    cursor: pointer;
    width: 43px;
    height: 43px;
    float: left;
    text-align: center;
    background-color: transparent;
    background-image: url(../images/Alarm-Plus-icon.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}

#searchUserInput {}

#autocomplete {
    top: 0;
    left: 0;
    background: transparent;
    z-index: 10;
}

.dropdown.dropdown-scroll .dropdown-menu {
    max-height: 200px;
    width: 60px;
    overflow: auto;
    z-index: 100;
}

.search-control {
    padding: 5px 10px;
}

.search-control img {
    width: 10px;
    height: 10px;
}

.search-list {
    position: absolute;
    z-index: 500;
    background-color: white;
    width: 100%;
}

.chat .answer-add .search-list {
    position: relative;
    z-index: 500;
    border: 1px solid black;
    border-width: 2px;
    border-color: white;
    border-radius: 8px;
    background: #5c81b4;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0px;
    margin-top: 10px;
    color: #ffffff;
    min-height: 80px;
    max-width: 92%;
}

.chat .answer-add .search-list a {
    color: #ffffff;
}


/* RATING STYLES
============================================================================= */

.star-rating {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.star-rating .star {
    padding: 1px;
    color: #ddd;
    font-size: 20px;
    text-shadow: .05em .05em #aaa;
    list-style-type: none;
    display: inline-block;
    cursor: pointer;
}

.star-rating .star.filled {
    color: #fd0;
}

.star-rating.readonly .star.filled {
    color: #666;
}


/* BASE STYLES
============================================================================= */

.page {
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
}

#about {
    color: #333;
    position: absolute;
    text-align: center;
    top: 50px;
    width: 100%;
}


/* PAGES
============================================================================= */

.page-home {
    background: #FFFFFF;
}

.page-about {
    background: #FFFFFF;
}

.page-contact {
    background: #FFFFFF;
}


/* ANIMATIONS
============================================================================= */

.page.ng-leave {
    z-index: 9999;
}

.page.ng-enter {
    z-index: 9999;
}


/* page specific animations ------------------------ */


/* home -------------------------- */

.page-home.ng-leave {
    -webkit-transform-origin: 0% 0%;
    -webkit-animation: rotateFall 1s both ease-in;
    -moz-transform-origin: 0% 0%;
    -moz-animation: rotateFall 1s both ease-in;
    transform-origin: 0% 0%;
    animation: rotateFall 1s both ease-in;
}

.page-home.ng-enter {
    -webkit-animation: scaleUp 0.5s both ease-in;
    -moz-animation: scaleUp 0.5s both ease-in;
    animation: scaleUp 0.5s both ease-in;
}


/* about ------------------------ */

.page-about.ng-leave {
    -webkit-animation: slideOutLeft 0.5s both ease-in;
    -moz-animation: slideOutLeft 0.5s both ease-in;
    animation: slideOutLeft 0.5s both ease-in;
}

.page-about.ng-enter {
    -webkit-animation: slideInRight 0.5s both ease-in;
    -moz-animation: slideInRight 0.5s both ease-in;
    animation: slideInRight 0.5s both ease-in;
}


/* contact ---------------------- */

.page-contact.ng-leave {
    -webkit-animation: slideInUp 0.5s both ease-in;
    -moz-animation: slideInUp 0.5s both ease-in;
    animation: slideInUp 0.5s both ease-in;
}

.page-contact.ng-enter {
    -webkit-animation: slideInUp 0.5s both ease-in;
    -moz-animation: slideInUp 0.5s both ease-in;
    animation: slideInUp 0.5s both ease-in;
}


/* rotate and fall */

@-webkit-keyframes rotateFall {
    0% {
        -webkit-transform: rotateZ(0deg);
    }
    20% {
        -webkit-transform: rotateZ(10deg);
        -webkit-animation-timing-function: ease-out;
    }
    40% {
        -webkit-transform: rotateZ(17deg);
    }
    60% {
        -webkit-transform: rotateZ(16deg);
    }
    100% {
        -webkit-transform: translateY(100%) rotateZ(17deg);
    }
}

@-moz-keyframes rotateFall {
    0% {
        -moz-transform: rotateZ(0deg);
    }
    20% {
        -moz-transform: rotateZ(10deg);
        -moz-animation-timing-function: ease-out;
    }
    40% {
        -moz-transform: rotateZ(17deg);
    }
    60% {
        -moz-transform: rotateZ(16deg);
    }
    100% {
        -moz-transform: translateY(100%) rotateZ(17deg);
    }
}

@keyframes rotateFall {
    0% {
        transform: rotateZ(0deg);
    }
    20% {
        transform: rotateZ(10deg);
        animation-timing-function: ease-out;
    }
    40% {
        transform: rotateZ(17deg);
    }
    60% {
        transform: rotateZ(16deg);
    }
    100% {
        transform: translateY(100%) rotateZ(17deg);
    }
}


/* scale up */

@keyframes scaleUp {
    from {
        opacity: 0.3;
        transform: scale(0.8);
    }
}

@-moz-keyframes scaleUp {
    from {
        opacity: 0.3;
        -moz-transform: scale(0.8);
    }
}

@-webkit-keyframes scaleUp {
    from {
        opacity: 0.3;
        -webkit-transform: scale(0.8);
    }
}


/* slide in from the right */

@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@-moz-keyframes slideInRight {
    from {
        -moz-transform: translateX(100%);
    }
    to {
        -moz-transform: translateX(0);
    }
}

@-webkit-keyframes slideInRight {
    from {
        -webkit-transform: translateX(100%);
    }
    to {
        -webkit-transform: translateX(0);
    }
}


/* slide in from the bottom */

@keyframes slideInUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

@-moz-keyframes slideInUp {
    from {
        -moz-transform: translateY(100%);
    }
    to {
        -moz-transform: translateY(0);
    }
}

@-webkit-keyframes slideInUp {
    from {
        -webkit-transform: translateY(100%);
    }
    to {
        -webkit-transform: translateY(0);
    }
}


/* slide in from the bottom */

@keyframes slideOutLeft {
    to {
        transform: translateX(-100%);
    }
}

@-moz-keyframes slideOutLeft {
    to {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes slideOutLeft {
    to {
        -webkit-transform: translateX(-100%);
    }
}


/* rotate out newspaper */

@-webkit-keyframes rotateOutNewspaper {
    to {
        -webkit-transform: translateZ(-3000px) rotateZ(360deg);
        opacity: 0;
    }
}

@-moz-keyframes rotateOutNewspaper {
    to {
        -moz-transform: translateZ(-3000px) rotateZ(360deg);
        opacity: 0;
    }
}

@keyframes rotateOutNewspaper {
    to {
        transform: translateZ(-3000px) rotateZ(360deg);
        opacity: 0;
    }
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

.slidedown.ng-enter,
.slidedown.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.slidedown.ng-enter {
    top: -100%;
}

.slidedown.ng-enter-active {
    top: 0;
}

.slidedown.ng-leave {
    top: 0;
}

.slidedown.ng-leave-active {
    top: 100%;
}

.btn-arrow-right,
.btn-arrow-left {
    position: relative;
    padding-left: 18px;
    padding-right: 18px;
}

.btn-arrow-right {
    padding-left: 36px;
}

.btn-arrow-left {
    padding-right: 36px;
}

.btn-arrow-right:before,
.btn-arrow-right:after,
.btn-arrow-left:before,
.btn-arrow-left:after {
    /* make two squares (before and after), looking similar to the button */
    content: "";
    position: absolute;
    top: 5px;
    /* move it down because of rounded corners */
    width: 22px;
    /* same as height */
    height: 22px;
    /* button_outer_height / sqrt(2) */
    background: inherit;
    /* use parent background */
    border: inherit;
    /* use parent border */
    border-left-color: transparent;
    /* hide left border */
    border-bottom-color: transparent;
    /* hide bottom border */
    border-radius: 0px 4px 0px 0px;
    /* round arrow corner, the shorthand property doesn't accept "inherit" so it is set to 4px */
    -webkit-border-radius: 0px 4px 0px 0px;
    -moz-border-radius: 0px 4px 0px 0px;
}

.btn-arrow-right:before,
.btn-arrow-right:after {
    transform: rotate(45deg);
    /* rotate right arrow squares 45 deg to point right */
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}

.btn-arrow-left:before,
.btn-arrow-left:after {
    transform: rotate(225deg);
    /* rotate left arrow squares 225 deg to point left */
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
}

.btn-arrow-right:before,
.btn-arrow-left:before {
    /* align the "before" square to the left */
    left: -11px;
}

.btn-arrow-right:after,
.btn-arrow-left:after {
    /* align the "after" square to the right */
    right: -11px;
}

.btn-arrow-right:after,
.btn-arrow-left:before {
    /* bring arrow pointers to front */
    z-index: -1001;
}

.btn-arrow-right:before,
.btn-arrow-left:after {
    /* hide arrow tails background */
    background-color: white;
}

.display-block {
    display: block !important;
}

input::-ms-clear {
    display: none;
}

.input-cross-icon {
    position: absolute;
    top: 20px;
    right: 10px;
    color: red;
}

.input-ok-icon {
    position: absolute;
    top: 20px;
    right: 10px;
    color: green;
}


}

/**********************************/
.tab-head-close-icon {
    font-size: 16px;
    margin-left: 8px;
    margin-right: 0px;
    position: absolute !important;
    right: 1px;
}
.tab-head-close-icon:hover {
    transform: scale(1.3, 1.3);
    opacity: 0.7;
}
.my-panel-heading {
    padding: 5px 5px 0px 5px;
}
.editor-panel-body {}
.editor-panel-body-right {
    min-height: calc(75vh - 200px);
}
.editor-panel-primary {
    margin: 0;
    position: absolute;
    right: 0;
    left: 0;
    /* height: 70%; */
    
    top: 0;
    bottom: 0;
}
.editor-right-panel-tabs-titles {
    width: 50%;
    text-align: center;
}
.right-panel-lang {
    height: 40px;
    background-color: #337AB7;
    /* border: 1px solid #337AB7; */
    /* margin-top: 2px; */
    
    padding: 3px 5px 3px 5px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}
.right-panel-lang-dropdown {
    position: absolute;
    right: 15px;
    top: 0px;
}
.lang-dropdown {
    padding: 0px !important;
    height: 100% !important;
}
.right-panel-bottom {
    background-color: #337AB7;
    /* border: 1px solid #337AB7; */
    
    margin-top: 2px;
    padding: 3px 5px 3px 5px;
    margin-left: 0px;
    /* background-color: red;*/
    
    z-index: 100;
    position: absolute;
    top: 69%;
    right: 0;
    left: 0;
    bottom: 0;
}
.right-panel-lang-text {
    height: 34px;
    padding: 5px 5px 5px 25px;
    color: white;
    font-size: 18px;
    width: 40%;
}
.btn.btn-default.lang-dropdown,
.dropdown.open .btn.btn-default.lang-dropdown {
    color: #337AB7;
    background-color: white;
}
.right-panel-description {
    width: 100%;
    margin-top: 2px;
    padding: 5px;
    margin-left: 0px;
    /* height: calc(21vh); */
    
    border: 2px solid #337AB7;
    position: absolute;
    background-color: yellow;
    bottom: 0;
    top: 38px;
    left: 0;
    top: 0;
}
.right-panel-description-title {
    color: white;
    font-size: 18px;
    background-color: #337AB7;
    padding-left: 25px;
    margin: -5px -5px 0 -5px;
}
.right-panel-description-text {
    overflow: scroll;
    overflow-x: hidden;
    /* height: 91%; */
    
    resize: none;
    width: 100%;
    position: absolute;
    bottom: 0;
    top: 25px;
    left: 0;
    /* right: 0; */
}
.editor-min-size {
    min-height: 400px;
    min-width: 900px;
}
.propertys-items-size {
    width: 100px;
}
.editor-panel-right-scroll {
    overflow-x: hidden;
    overflow-y: scroll;
    /* height: calc(51vh); */
    
    position: absolute;
    left: 10px;
    right: 0;
    /* height: 75%; */
    
    bottom: 31%;
    /* height: 58%; */
    
    top: 45px;
    padding-top: 5px;
}
.editor-panel-left-scroll {
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    left: 10px;
    right: 0;
    bottom: 31%;
    top: 45px;
    padding-top: 25px;
}
.editor-tools-propertys {
    width: 93%;
    margin: 5px;
    border-radius: 6px;
    padding: 5px;
    background: #337AB7;
    /* color: white;*/
}
.editor-tools {
    width: 93%;
    margin: 5px;
    border-radius: 6px;
    padding: 5px;
    background: #337AB7;
    /* color: white;*/
}
.editor-tools:hover {
    opacity: 0.7;
}
.editor-propertys-input {
    color: black;
    background-color: green;
}
.editor-tools .atribute {
    display: inline-block;
    width: 44%;
    text-align: left;
    margin-left: 5px;
    margin-top: 2px;
    margin-bottom: -5px;
    color: white;
}
tags-input input {
    /*width: 97%;
       max-width: 97%;
       display: inline-block;*/
}
.editor-right-bottom-console {
    background-color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30.4%;
    overflow: hidden;
    /* margin-left: 18px; */
    /* margin-top: -5px; */
    
    width: 100%;
    border: 1px solid #337AB7;
}
.editor-right-bottom-console .code-edit-title {
    height: 25px;
    color: white;
    padding-left: 20px;
    background-color: #337AB7;
    width: 100%;
}
.editor-right-bottom-console .code-edit-source {
    width: 100%;
    color: black;
    height: 100%;
    margin-bottom: -17px;
    resize: none;
    position: absolute;
}
.editor-right-bottom-console .status {
    width: 100%;
    height: 25px;
    background-color: #337AB7;
    color: white;
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
}
.editor-right-bottom-console .value {
    margin-left: 50px;
    border-left: 2px solid white;
    padding-left: 15px;
}
.editor-tools .value {
    display: inline-block;
    width: 44%;
    text-align: right;
    resize: none;
    color: black;
    height: 20px;
}
.editor-left-panel {
    padding-right: 0px;
    width: 70%;
    /* height: calc(100vh); */
    
    position: absolute;
    clear: both;
    /* background-color: red; */
    
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.editor-right-panel {
    /* padding-left: 2px; */
    
    position: absolute;
    /* padding-right: 15px; */
    
    right: 15px;
    width: 28.7%;
    /* height: 200px; */
    
    top: 0;
    bottom: 0;
}
.editor-dropdown-wraper {
    position: absolute;
    right: 20px;
    width: 45%;
    top: 5px;
}
.editor-dropdown-wraper > *:hover,
.editor-dropdown-wraper > *:active {
    cursor: pointer;
}
.editor-menu {
    width: 30%;
    min-height: 47px;
    /* min-width: 220px; */
    /* float: right; */
    
    position: absolute;
    right: 0;
    top: 0;
}
.editor-menu .editor-menu-icon {
    float: left;
    width: 20%;
    height: 35px;
    /*background: red;*/
    
    color: white;
    font-size: 20px;
    margin-top: 5px;
    padding: 10px;
    margin-left: 2px;
}
.editor-menu .editor-menu-icon .icon {
    color: white;
    font-size: 20px;
}
.editor-menu .editor-menu-icon .icon:hover {
    cursor: pointer;
    /*background: #8FB6D7;*/
}
.editor-dropdown {
    width: 110px;
    height: 40px;
    padding: 10px;
}
.editor-dropdown:hover {
    background-color: #8FB6D7;
}
.editor-dropdown-a {
    /* position: absolute;
    right: 25px;
    top: 10px;*/
}
.editor-dropdown-a,
.editor-dropdown-a:focus,
.editor-dropdown-a:hover {
    color: white;
    text-decoration: none;
}
.ng-isolate-scope active.editor-dropdown-a {
    color: blue;
}
.panel.with-nav-tabs .panel-heading {
    padding: 5px 5px 0px 5px;
    min-height: 45px;
}
.panel.with-nav-tabs .nav-tabs {
    border-bottom: none;
}
.panel.with-nav-tabs .nav-justified {
    margin-bottom: -1px;
}

/********************************************************************/

/*** PANEL DEFAULT ***/
.with-nav-tabs.panel-default .nav-tabs > li > a,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
}
.with-nav-tabs.panel-default .nav-tabs > .open > a,
.with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
    background-color: #ddd;
    border-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
    color: #555;
    background-color: #fff;
    border-color: #ddd;
    border-bottom-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs li.dropdown .dropdown-menu {
    background-color: #f5f5f5;
    border-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs li.dropdown .dropdown-menu > li > a {
    color: #777;
}
.with-nav-tabs.panel-default .nav-tabs li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs li.dropdown .dropdown-menu > li > a:focus {
    background-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-default .nav-tabs li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-default .nav-tabs li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #555;
}

/********************************************************************/

/*** PANEL PRIMARY ***/
.with-nav-tabs.panel-primary .nav-tabs > li > a,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
    color: #fff;
}
.with-nav-tabs.panel-primary .nav-tabs > .open > a,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
    color: #fff;
    background-color: #8FB6D7;
    border-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:focus {
    color: #428bca;
    background-color: #fff;
    border-color: #428bca;
    border-bottom-color: transparent;
}
.dropdown-menu {
    background-color: #428bca;
    border-color: #3071a9;
}
.dropdown-menu > li > a,
.dropdown-menu > li > a:hover {
    color: #fff;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background-color: #3071a9;
}

/*
 .dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
 .dropdown-menu > .active > a:focus {
    background-color:  #428BCA;/*#4a9fe9; */

}
.bootstrap .tags {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,
    0,
    0,
    0.075);
    transition: border-color ease-in-out .15s,
    box-shadow ease-in-out .15s;
}
.bootstrap .tags.focused {
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgba(0,
    0,
    0,
    0.075),
    0 0 8px rgba(102,
    175,
    233,
    0.6);
}
.bootstrap .tags .tag-item {
    background: #428bca;
    border: 1px solid #357ebd;
    border-radius: 4px;
    color: #fff;
}
.bootstrap .tags .tag-item.selected {
    background: #d9534f;
    border: 1px solid #d43f3a;
    border-radius: 4px;
    color: #fff;
}
.bootstrap .tags .tag-item button {
    background: transparent;
    color: #000;
    opacity: .4;
}
.bootstrap .autocomplete {
    border-radius: 4px;
}
.bootstrap .autocomplete .suggestion-item.selected {
    color: #262626;
    background-color: #e9e9e9;
}
.bootstrap .autocomplete .suggestion-item em {
    font-weight: normal;
    background-color: #ffff00;
}
.bootstrap .autocomplete .suggestion-item.selected em {
    color: #262626;
    background-color: #ffff00;
}
ul[dnd-list],
ul[dnd-list] > li {
    position: relative;
}
ul {
    list-style-type: none;
}

/***************************** Dropzone Styling *****************************/

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
ul[dnd-list] {
    min-height: 10px;
    z-index: 999;
    /* background-color: blue;*/
    /*margin: 0px;
    padding-left: 0px;*/
    /*display: inline;*/
    padding: 10px;
}
li[dnd-draggable] {
    padding: 10px;
    z-index: 999;
    list-style-type: none;
    /* background-color: red;*/
}
.dndDragging {
    opacity: 0.7;
}

/**
 * The dndDraggingSource class will be applied to the source element of a drag
 * operation. It makes sense to hide it to give the user the feeling that he's
 * actually moving it. Note that the source element has also .dndDragging class.
 */
.dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be added as child of the dnd-list
 * while the user is dragging over it.
 */
.editor-panel-body-right .dndPlaceholder {
    display: none;
}
.editor-panel-body .selected {
    background-color: #eee;
    opacity: 0.7;
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    //* color: gray;*/
}
.animate-properties.ng-enter {
    -webkit-animation: animate-properties-enter 600ms cubic-bezier(0.445,
    0.050,
    0.550,
    0.950);
    animation: animate-properties-enter 600ms cubic-bezier(0.445,
    0.050,
    0.550,
    0.950);
    display: block;
    position: relative;
}
@-webkit-keyframes animate-properties-enter {
    from {
        opacity: 0;
        height: 0px;
        left: -70px;
    }
    30% {
        opacity: 0;
    }
    75% {
        left: 15px;
    }
    to {
        opacity: 1;
        height: 30px;
        left: 0px;
    }
}
@keyframes animate-properties-enter {
    from {
        opacity: 0;
        height: 0px;
        left: -70px;
    }
    30% {
        opacity: 0;
    }
    75% {
        left: 15px;
    }
    to {
        opacity: 1;
        height: 30px;
        left: 0px;
    }
}
.animate-properties.ng-leave {
    -webkit-animation: animate-properties-leave 600ms cubic-bezier(0.445,
    0.050,
    0.550,
    0.950);
    animation: animate-properties-leave 300ms cubic-bezier(0.445,
    0.050,
    0.550,
    0.950);
    display: block;
    position: relative;
}
@-webkit-keyframes animate-properties-leave {
    to {
        opacity: 0;
        height: 0px;
        right: -70px;
    }
    25% {
        right: 15px;
    }
    from {
        opacity: 1;
        height: 30px;
        right: 0px;
    }
}
@keyframes animate-properties-leave {
    to {
        opacity: 0;
        height: 0px;
        right: -70px;
    }
    25% {
        right: 15px;
    }
    from {
        opacity: 1;
        height: 30px;
        right: 0px;
    }
}
.render-element:hover {
    border-style: dashed;
    border-width: 1px;
    border-color: red;
}

/*
.render-element:hover ul {
    border-style: dashed;
    border-width: 1px;
    border-color: blue;
}*/
.dndDragover {
    border-style: dashed;
    border-width: 1px;
    border-color: red;
}
.wrap {
    padding: 0px;
}
.code-edit-title-upload-icon {
    color: white;
    width: 30px;
    height: 30px;
    /* background: red; */
    font-size: 20px;
    position: absolute;
    left: 120px;
}
.code-edit-title-upload-icon a {
    color: white;
    font-size: 18px;
    top: 0px;
}
.code-edit-title-upload-icon a:hover {
    cursor: hand;
}
.layout-ul-vertical {
    list-style: none;
    display: block;
    /*background-color: #CFE8F5;*/
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0,
    0,
    0,
    .05);
    padding: 10px 20px 10px 20px;
    position: relative;
    height: auto;
    width: auto;
}
.layout-li-vertical {
    margin: 5px;
    padding: 5px;
    border: 1px solid #DFDFDF;
    background-color: white;
}
.layout-ul-horizontal {
    list-style: none;
    display: block;
    /* background-color: #CFE8F5;*/
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0,
    0,
    0,
    .05);
    padding: 10px 20px 10px 20px;
    position: relative;
    height: auto;
    width: auto;
}
.layout-li-horizontal {
    margin: 5px;
    padding: 5px;
    display: inline-block !important;
    border: 1px solid #DFDFDF;
    background-color: white;
    /* float: left;*/
    width: auto;
    height: auto;
}
.editor-panel-body .layout-ul-horizontal .dndPlaceholder {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    color: gray;
    display: inline-block;
    width: auto;
    height: 100%;
}
.editor-panel-body .dndPlaceholder {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    color: gray;
}
.layout-ul-horizontal::after {
    content: "";
    display: table;
    clear: both;
}
.form-inline {
    display:inline-block;
    width:80%;
}
.property_array_edit_input {
    width:calc(100%-70px);
    width: -moz-calc(100% - 70px);
    /* WebKit */
    width: -webkit-calc(100% - 70px);
    /* Opera */
    width: -o-calc(100% - 70px);
    /* Standard */
    display:inline-block;
}
.button-group-inline {
    display:inline-block;
}
.add-item-btn {
    border: none;
    border-radius: 0px;
    height: 24px;
    width: 100%;
    background: none;
    font-size: 24px;
    color: white;
    white-space: normal;
    padding: 0;
    margin-left: 3px;
    text-align: center;
    vertical-align: top;
}
.add-item-btn:hover {
    opacity: 0.7;
    cursor: hand;
}
.property_array_row_indexer {
    color: white;
    margin-left: 3px;
    margin-right: 3px;
}
.property_array_button {
    padding:0px;
    margin:0px;
    margin-left: 3px;
    background: transparent;
    border: none;
    color: white;
}
.ng-invalid-date {
    border-color: red !important;
    outline-color: red !important;
}
.card {
    box-shadow: 0 2px 5px 0 rgba(0,
    0,
    0,
    0.16),
    0 2px 10px 0 rgba(0,
    0,
    0,
    0.12);
}
.card {
    margin-top: 10px;
    box-sizing: border-box;
    border-radius: 2px;
    background-clip: padding-box;
    background-color: white;
}
.card span.card-title {
    font-weight: 300;
    text-transform: uppercase;
}

.card .card-image {
    position: relative;
    overflow: hidden;
}
.card .card-image img {
    border-radius: 2px 2px 0 0;
    background-clip: padding-box;
    position: relative;
    z-index: -1;
}
.card .card-image span.card-title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 16px;
}
.card .card-content {
    padding: 16px;
    border-radius: 0 0 2px 2px;
    background-clip: padding-box;
    box-sizing: border-box;
}
.card .card-content p {
    margin: 0;
    color: inherit;
}
.card .card-content span.card-title {
    line-height: 48px;
}
.card .card-action {
    border-top: 1px solid rgba(160,
    160,
    160,
    0.2);
    padding: 16px;
}
.card .card-action a {
    color: #ffab40;
    margin-right: 16px;
    transition: color 0.3s ease;
    text-transform: uppercase;
}
.card .card-action a:hover {
    color: #ffd8a6;
    text-decoration: none;
}
.bcontainer > .ng-scope {
    display: block;
    margin-top: 10px;
}

.card-title.view-title{
    color: #000;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 20px;
    border-bottom: 1px solid rgba(160, 160, 160, 0.2);
}
