.container {
  width: 970px !important;
}

.navbar h1 {
	margin-top: 15px;
	font-size: 22px;
	float:left;
	color: #fff;
}

.chat-box {
	height:400px;
	overflow: auto;
}

.menu-ng-click:hover {
	cursor: pointer;
}

.buttonPlus {
  margin: 0 0 0 0;
  cursor: pointer;
  width: 43px;
  height: 43px;
  float: left;
  text-align: center;
  background-color: transparent;
  background-image: url(../images/Alarm-Plus-icon.png);
  background-repeat: no-repeat;
background-position: left;
background-size: cover;
}

