
@CHARSET "UTF-8";


/*top bar background color */
.chat-head{
  background-color: #4b70a3;
}

/* "plus" icon to add users to dialog color */
.search-form .form-group span.form-control-feedback { 
  color: #3596e0;
}

.chat .answer-add .search-list {
	background: #5c81b4;
}

/* rating start color */
.star-rating .star.filled {
  color: #fd0;
}

/*search room bar color */
.contacts-list-search {
    background: #4b70a3;
}

/*room highlight color */
.room_item:hover{
     background: #9EE7FF;
}

/*dialog filter button color */
.dialog-filter-wraper:HOVER {
	background-color: #819BBF;
}

/*dialog filter list item hover color */
.dlg-filter-li:HOVER   {
	background-color: #819abe !important;
}


/*user status online mark color */
.chat .avatar .status.online {
	background: #4caf50;
}

/*user status busy mark color */
.chat .avatar .status.busy {
	background: #ffc107;
}

/*user status offline mark color */
.chat .avatar .status.offline {
	background: #ed4e6e;
}

/*chat message from companion */

/* triangle between user icon and message */
.chat-body .answer.right .text:before {
	border-left-color: #7266ba;
}

/*send message  area border color */
.chat .answer-add {
	background: #4b70a3;
}

