@CHARSET "UTF-8";


.avatar-container {   
   // box-shadow: 0 0 2px rgba(0,0,0,0.5); /* Параметры тени */
}

.decor-default {
    background-color: #ffffff;
}

.add-room-btn{
    border-color: #aaa;
    background: none;
    color: white;
}


.add-room-btn:hover{
    color: #fff;
    background-color: rgba(255,255,255,0.3);
}

.contacts-list-search {
    background: #4b70a3;
}


.room_item:hover{
     background: #9EE7FF;
}

.new_message_author_avatar{
box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}

.multiple-select-wrapper {
    color: white;
}

.multiple-select-wrapper .selected-items-box {
    background-color: #fff;
}

.list .items-list li {
    background-color: #fff;
}

.list .items-list li span {
    color: #4A4A4A;
}

.title{
  color: white;
}

.dialog-filter-wraper:HOVER {
	background-color: #819BBF;
}


.dlg-filter-li:HOVER   {
	background-color: #819abe !important;
	color: white !important;
}

.dlg-filter-li:HOVER span {
	color: white !important ;
}


.btn-arrow-right:before,
.btn-arrow-right:after,
.btn-arrow-left:before,
.btn-arrow-left:after { /* make two squares (before and after), looking similar to the button */
      background: inherit; /* use parent background */  
}

.btn-arrow-right:before,
.btn-arrow-left:after { /* hide arrow tails background */
    background-color: white;
}