
.chat-white {
	background: #fff;
}
.head-title{
    color: #fff;
}

.decor-default {
	background-color: #ffffff;
}


.chat .avatar .avatar-contaiter {	
	box-shadow: 0 0 2px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 0 2px rgba(0, 0, 0, .2);
}


.chat .avatar .status.off {
	background: #ffffff;
}

.chat .avatar .status.online {
	background: #4caf50;
}

.chat .avatar .status.busy {
	background: #ffc107;
}

.chat .avatar .status.offline {
	background: #ed4e6e;
}




/*****************CHAT BODY *******************/
.chat-body {
	background-color: white;
}


.chat-body .answer.left .text {
	background: #ebebeb;
	color: #333333;
}

.chat-body .answer.left .text:before {
	border-right-color: #ebebeb;
}



.chat-body .answer.left .time {
	color: #333333;
}

.chat-body .answer.right a {
	color: white;
}

.chat-body .answer.right .text {
	color: #ffffff;
}

.chat-body .answer.right .text:before {
	border-left-color: #7266ba;
}

.chat-body .answer.right .time {
	color: #333333;
}

/**************ADD FORM ***************/
.chat .answer-add {
	background: #4b70a3;
}

.chat-body .answer-end {
	background: #ffffff;
}
/* This is an EXAMPLE.  Selectors will be replaced by elements relevant to your theme */

.chat .answer-add textarea {
	border-color: white;
	color: #ffffff;
}

.chat .answer-add .answer-btn-1 {
	background:
}



.chat .answer-add .load-btn {
	background: none;
}

.chat .answer-add .answer-btn-2 {
	background:	
}

.chat textarea::-webkit-input-placeholder {
	color: #fff;
}

.chat textarea:-moz-placeholder { /* Firefox 18- */
	color: #fff;
}

.chat textarea::-moz-placeholder { /* Firefox 19+ */
	color: #fff;
}

.chat textarea:-ms-input-placeholder {
	color: #fff;
}

