@CHARSET "UTF-8";

.decor-default {
    background-color: #ffffff;
}


.contacts-list-search {
    width:100%;
    line-height: 60px;
    background: #585b9c;
    font-size: 24px;
    color: #fff;
    padding: 0 20px;
}
input {
    -webkit-appearance: none;
    border-radius: 0;
}
input {
    padding: 0;
    border: none;
    outline: none;
}

/************ Contact list*********************/
    .avatar {
    display: inline-block;
    position:absolute;
    width: 80px;
    height: 80px;
    /*border-radius: 20px;
    margin: 0 16px 0 0;*/
    margin:10px;
    vertical-align: middle;
}
/*My Bidlo*/

.room_info {
    padding: 10px 10px 10px 100px;
}
.unstyled_list{
    padding: 0px ;
     list-style-type: none; 
}
.message_author_header{
    text-align: center;
}
.long_text{
    word-wrap: break-word;
}
.vertical-align {
   display: inline-block;
vertical-align: middle;
}
.new_messages_counter {
    position:absolute;
    right: 0px;
    top: 50%;
}
.room_item {
width:100%;
}
.room_item:hover{
    cursor: pointer;
}
.message_body_breakable{
word-break: break-all;
}
.message_container{
    margin-right:40px;

}
.message_text_dialogs{
    margin-left:40px;
}
.message_body_nopadding{
    padding:0px 0px;
    margin: 0px 0px;
}