@CHARSET "UTF-8";

.decor-default {
    background-color: #ffffff;
}


.contacts-list-search {
    width:100%;
    line-height: 60px;
    background: #585b9c;
    font-size: 24px;
    color: #fff;
    padding: 0 20px;
}
input {
    -webkit-appearance: none;
    border-radius: 0;
}
input {
    padding: 0;
    border: none;
    outline: none;
}

/************ Contact list*********************/
    .avatar {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 20px;
    margin: 0 16px 0 0;
    vertical-align: middle;
}
/*My Bidlo*/

.leftside_list_without_style {
    list-style-type: none;
    padding: 0px 0px 0px 0px;       
}
.message_author_header{
    text-align: center;
}
.long_text{
    word-wrap: break-word;
}
.vertical-align {
   display: inline-block;
vertical-align: middle;
}