<div>
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="wndTitle" class="modal-title">{{askForDeleteMe.isAuthor ? 'Ви точно хочите видалити бесіду?' : 'Ви точно хочите покинути бесіду?'}}</h4>
                <span>
                    {{askForDeleteMe.isAuthor ? 'В наслідок чого буде видалена бесіда!!!' : ''}}
                </span>
                <span class="bg-danger">
                    {{askForDeleteMe.error}}
                </span>
            </div>
            <div class="modal-footer">
                <button id="closeButton" type="button" class="btn btn-default modal-btn-left" ng-click="deleteMeFromRoom()">Так</button>
                <button type="button" class="btn btn-default" ng-click="closeThisDialog()">Ні</button>
            </div>
        </div>
    </div>
</div>
