<!--<per>{{$root.models.selected}}</per>-->
<div class="content container-fluid bootstrap snippets container  editor-min-size">
    <div>
        <div class="contacts-list">
            <div class="">
                <div class="editor-left-panel">
                    <div class="panel with-nav-tabs panel-primary editor-panel-primary" style="right : 10px;">
                        <uib-tabset class="panel with-nav-tabs panel-primary editor-panel-primary" classes="panel-heading my-panel-heading" active="activeViewTab">
                            <uib-tab index="$index + 1" ng-repeat="view in viewTabs track by $index" active="view.active" disable="view.disabled">
                                <uib-tab-heading>
                                    <i class="glyphicon glyphicon-bell">{{view.title}}</i>
                                    <i class="glyphicon glyphicon-remove-circle tab-head-close-icon" ng-click="tryCloseTabDialogOpen($index + 1)"></i>
                                </uib-tab-heading>
                                <div class="panel-body editor-panel-body">
                                    <div class="tab-content editor-panel-right-scroll ">
                                        <dir class="tab-content" content="view.content[langForRender[activeViewTab - 1]]">
                                        </dir>
                                    </div>
                                    <div class="editor-right-bottom-console ">
                                        <div class="code-edit">
                                            <div tooltip-append-to-body="true" class="code-edit-title-upload-icon" tooltip-trigger="mouseenter" uib-tooltip="Convert code to view">
                                                <a class="glyphicon glyphicon-upload icon" ng-click="updateViewByLang()"></a>
                                            </div>
                                            <div class="code-edit-title" th:text="${lgPack.lables.formBuilder.codePromt}">
                                                Here you see source code:
                                            </div>
                                            <textarea ng-model="view.items[langForRender[activeViewTab - 1]].body" class="code-edit-source">
                                            </textarea>
                                        </div>
                                    </div>
                                </div>
                            </uib-tab>
                            <div class="editor-menu">
                                <div class="editor-menu-icon">
                                    <a class="glyphicon glyphicon-repeat icon" ng-click="updateView()"></a>
                                </div>
                                <div class="editor-menu-icon">
                                    <a class="glyphicon glyphicon-saved icon" ng-click="saveBotDialogItem()"></a>
                                </div>
                                <div class="dropdown editor-dropdown-wraper">
                                    <button class="btn btn-primary dropdown dropdown-toggle editor-dropdown" type="button" data-toggle="dropdown">Menu
                                        <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li ng-click="saveBotDialogItem()">
                                            <a>
                                                <div class="glyphicon glyphicon-saved"></div>
                                                Save
                                            </a>
                                        </li>
                                        <li ng-click="showCreateItemDialog()">
                                            <a>
                                                <div class="glyphicon glyphicon-plus"></div>
                                                Create
                                            </a>
                                        </li>
                                        <li ng-click="toggleLoadDialogItemModal()">
                                            <a>
                                                <div class="glyphicon glyphicon-download-alt"></div>
                                                Load
                                            </a>
                                        </li>
                                        <li ng-click="showSetDefaultDialog()">
                                            <a>
                                                <div class="glyphicon glyphicon-plus"></div>
                                                Set as default
                                            </a>
                                        </li>
                                        <li ng-click="updateView()">
                                            <a>
                                                <div class="glyphicon glyphicon-repeat"></div>
                                                Refresh
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </uib-tabset>
                    </div>
                </div>
                <div class="col-md-3 editor-right-panel">
                    <uib-tabset class="panel with-nav-tabs panel-primary editor-panel-primary" classes="panel-heading my-panel-heading " active="activeToolsTab">
                        <uib-tab index="1" disable="view.disabled" class="editor-right-panel-tabs-titles ">
                            <uib-tab-heading>
                                <i class="glyphicon glyphicon-bell" th:text="${lgPack.lables.formBuilder.tools}">Tools</i>
                            </uib-tab-heading>
                            <div class="panel-body editor-panel-body-right">
                                <div dnd-list="toolsList" class="tab-content editor-panel-right-scroll" dnd-disable-if="false" dnd-drop="$root.deleteCallback(event, index, item, external, type, $root.this)">
                                    <div class="editor-tools animate-properties" ng-repeat="tool in toolsList" dnd-draggable="tool" dnd-effect-allowed="copy">
                                        <!-- **select class disable**
                                        dnd-selected="$root.models.selected = tool" ng-class="{'selected': models.selected === tool}" 
                                    -->
                                        <div class="atribute">{{tool.type}}</div>
                                        <span class="separator"></span>
                                        <dir class="value">#</dir>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab index="2" active="true" disable="view.disabled" class="editor-right-panel-tabs-titles ">
                            <uib-tab-heading>
                                <i class="glyphicon glyphicon-bell" th:text="${lgPack.lables.formBuilder.properties}">Properties</i>
                            </uib-tab-heading>
                            <div class="panel-body editor-panel-body-right">
                                <div class="tab-content editor-panel-right-scroll ">
                                    <div class="editor-tools-propertys animate-properties" ng-repeat="(key, item)  in $root.models.selected.properties">
                                        <div ng-if="compareType(item,'array')" class="input-group">
                                            <span class="input-group-addon" id="sizing-addon2">{{key}}</span>
                                            <tags-input min-length="1" placeholder="Add new item" ng-model="$root.models.selected.properties[key]" />
                                        </div>
                                        <div ng-if="compareType(item,'string')" class="input-group">
                                            <span class="input-group-addon" id="sizing-addon2">{{key}}</span>
                                            <input ng-model="$root.models.selected.properties[key]" type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon2" />
                                        </div>
                                        <div ng-if="compareType(item,'bool')" class="input-group">
                                            <span class="input-group-addon" id="sizing-addon2">{{key}}</span>
                                            <span class="input-group-addon" id="basic-addon2">
                                            <input ng-model = "$root.models.selected.properties[key]" type="checkbox" name="vehicle"/>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="editor-tools-propertys animate-properties" ng-if="$root.models.selected.type == 'botsubmit'">
                                        <span class="input-group-addon" id="sizing-addon2">Code</span>
                                        <span class="input-group-addon" id="basic-addon2">
                                            <textarea ng-model="viewTabs[activeViewTab - 1].items[langForRender[activeViewTab - 1]].testCase" ></textarea>
                                         </span>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                    </uib-tabset>
                    <div class=" right-panel-bottom">
                        <div class="right-panel-description">
                            <div class="right-panel-description-title" th:text="${lgPack.lables.formBuilder.description}"> Descriprion: </div>
                            <div class="dropdown right-panel-lang-dropdown">
                                <select class="form-control lang-dropdown" ng-change="updateView()" ng-model="langForRender[activeViewTab - 1]">
                                    <option label="UA" value="ua" selected="selected"></option>
                                    <option label="EN" value="en" selected="selected"></option>
                                    <option label="RU" value="ru" selected="selected"></option>
                                </select>
                            </div>
                            <textarea ng-model="viewTabs[activeViewTab - 1].items[langForRender[activeViewTab - 1]].description" class="right-panel-description-text"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--**************************
 * TRY CLOSE TAB
***************************-->
<script type="text/ng-template" id="close_tab.html">
    <div class="modal-header">
        <h3 class="modal-title">You have unsaved changes on this tab!</h3>
    </div>
    <div class="modal-body">
        Do you want to close this tab and discard your changes or not?
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="tryCloseTabDialogClose(true)">Close</button>
        <button class="btn btn-primary" type="button" ng-click="tryCloseTabDialogClose(false)">Cancel</button>
    </div>
</script>
<!--**************************
 * CREATE CATEGORY
***************************-->
<script type="text/ng-template" id="create_category.html">
    <div class="modal-header">
        <h3 class="modal-title">Create new category</h3>
    </div>
    <div class="modal-body">
        <div>
            Name:
        </div>
        <input class="form-control" type="text" name="" ng-model="category_name_temp" />
    </div>
    <div class="modal-footer">
        <button ng-if="category_name_temp != null" class="btn btn-warning" type="button" ng-click="createNewCategory(category_name_temp); createCategoryDialog.close();">Create</button>
        <button class="btn btn-primary" type="button" ng-click="createCategoryDialog.close()">Cancel</button>
    </div>
</script>
<!--**************************
 * CREATE ITEM DIALOG
***************************-->
<script type="text/ng-template" id="create_item_dialog.html">
    <div class="modal-header">
        <h3 class="modal-title">Create new dialog</h3>
    </div>
    <div class="modal-body">
        <div>
            Select category:
        </div>
        <div>
            <select class="form-control lang-dropdown" ng-model="categoryTemp" ng-options="category.name for category in allCategories track by category.id">
            </select>
        </div>
        <div>
            Select discription:
        </div>
        <textarea class="form-control" ng-model="temp_dialog_name" type="text" name="" />
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" style="position: absolute; left: 30px;" type="button" ng-click="createItemDialog.close(); showCreateCategoryDialog()">Create category</button>
        <button ng-if="categoryTemp != null" class="btn btn-warning" type="button" ng-click="createBotDialogItem(temp_dialog_name, categoryTemp.id);createItemDialog.close()">Create</button>
        <button class="btn btn-primary" type="button" ng-click="createItemDialog.close()">Cancel</button>
    </div>
</script>
<!--**************************
 * SET DEFAULT
***************************-->
<script type="text/ng-template" id="set_default.html">
    <div class="modal-header">
        <h3 class="modal-title">Set default</h3>
    </div>
    <div class="modal-body">
        <div>
            Select category fot atach:
        </div>
        <div>
            <select class="form-control lang-dropdown" ng-model="categoryTemp" ng-options="category.name for category in allCategories track by category.id">
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-if="categoryTemp != null" class="btn btn-warning" type="button" ng-click="setBotDialogItemAsDefault(categoryTemp);setDefaultDialog.close()">Set</button>
        <button class="btn btn-primary" type="button" ng-click="setDefaultDialog.close()">Cancel</button>
    </div>
</script>
<div id="dialog_item_modal_loader" class="modal fade" th:include="loadDialogItemModalWindow" />
