<div class="content container-fluid bootstrap snippets container">
    <div class="decor-default">
        <div class="contacts-list">
            <div class="row">
                <div class="col-md-9 editor-left-panel">
                    <div class="panel with-nav-tabs panel-primary editor-panel-primary">
                        <uib-tabset class="panel with-nav-tabs panel-primary editor-panel-primary" classes="panel-heading my-panel-heading" active="activeViewTab">
                            <uib-tab index="$index + 1" ng-repeat="view in viewTabs track by $index" active="view.active" disable="view.disabled">
                                <uib-tab-heading>
                                    <i class="glyphicon glyphicon-bell">№{{$index}}</i>
                                </uib-tab-heading>
                                <div class="panel-body editor-panel-body">
                                {{containerTemplate}}
                                    <dir class="tab-content" content="view.content" dnd-list="containerTemplate.childrens">
                                    </dir>


                                    <div class="editor-right-bottom-console ">
                                        <div class="code-edit">
                                            <div class="code-edit-title">
                                                Here you see source code:
                                            </div>
                                            <textarea class="code-edit-source">
                                                your code
                                            </textarea>
                                        </div>
                                        <dir class="status">
                                            Status
                                            <span class="value"> 
                                            some message here.....................!!!
                                            </span>
                                        </dir>
                                    </div>
                                </div>
                            </uib-tab>
                            <uib-tab index="999" heading="Tab Two">
                                <uib-tab-heading>
                                    <div class="dropdown ">
                                        <a class="editor-dropdown-a" href="#" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#tab4primary" data-toggle="tab">Primary 4</a></li>
                                            <li><a href="#tab5primary" data-toggle="tab">Primary 5</a></li>
                                        </ul>
                                    </div>
                                </uib-tab-heading>
                                <div class="panel-body editor-panel-body">
                                    More Tab Content
                                </div>
                            </uib-tab>
                        </uib-tabset>
                    </div>
                </div>
                <div class="col-md-3 editor-right-panel">
                    <uib-tabset class="panel with-nav-tabs panel-primary editor-panel-primary" classes="panel-heading my-panel-heading " active="1">
                        <uib-tab index="1" disable="view.disabled" class="editor-right-panel-tabs-titles ">
                            <uib-tab-heading>
                                <i class="glyphicon glyphicon-bell">Tools</i>
                            </uib-tab-heading>
                            <div class="panel-body editor-panel-body-right">
                                <div dnd-list="toolsList" class="tab-content editor-panel-right-scroll">
                                    <div ng-repeat="tool in toolsList" dnd-draggable="tool" dnd-effect-allowed="copy" dnd-selected="models.selected = item" ng-class="{'selected': models.selected === item}" class="editor-tools-propertys">
                                        <div class="atribute">{{tool.type}}</div>
                                        <span class="separator"></span>
                                        <dir class="value">#</dir>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab index="2" active="true" disable="view.disabled" class="editor-right-panel-tabs-titles ">
                            <uib-tab-heading>
                                <i class="glyphicon glyphicon-bell">Properties</i>
                            </uib-tab-heading>
                            <div class="panel-body editor-panel-body-right">
                                <div class="tab-content editor-panel-right-scroll ">
                                    <div class="editor-tools-propertys" ng-repeat="(key, item)  in selected.properties">
                                        <div ng-if="compareType(selected.type,key,'array')" class="input-group">
                                            <span class="input-group-addon" id="sizing-addon2">{{key}}</span>
                                            <tags-input min-length="1" placeholder="Add new item" ng-model="selected.properties[key]" />
                                        </div>
                                        <div ng-if="compareType(selected.type,key,'string')" class="input-group">
                                            <span class="input-group-addon" id="sizing-addon2">{{key}}</span>
                                            <input ng-model="selected.properties[key]" type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon2" />
                                        </div>
                                        <div ng-if="compareType(selected.type,key,'bool')" class="input-group">
                                            <span class="input-group-addon" id="sizing-addon2">{{key}}</span>
                                            <span class="input-group-addon" id="basic-addon2">
                                            <input ng-model = "selected.properties[key]" type="checkbox" name="vehicle"/>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                    </uib-tabset>
                    <div class="row right-panel-lang">
                        <div class="col-md-4 right-panel-lang-text">Lang: </div>
                        <div class="dropdown col-md-8">
                            <button class="btn btn-default dropdown-toggle lang-dropdown" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Lang-Value
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a>Ukranian</a></li>
                                <li><a>Russian </a></li>
                                <li><a>English </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="right-panel-description">
                        <div class="right-panel-description-title"> Descriprion: </div>
                        <textarea class="right-panel-description-text">adfadfasdfasdf asdfsadf sadfsdf asdfsadf sadfsdf asdfsadf sadfsdf asdfsadf sadfsdf asdfsadf sadfasdfasdfas </textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
