<!--<per>{{$root.models.selected}}</per>-->
<div class="content container-fluid bootstrap snippets container  editor-min-size">
    <div class="decor-default">
        <div class="contacts-list">
            <div class="">
                <div class="editor-left-panel">
                    <div class="panel with-nav-tabs panel-primary editor-panel-primary">
                        <uib-tabset class="panel with-nav-tabs panel-primary editor-panel-primary" classes="panel-heading my-panel-heading" active="activeViewTab">
                            <uib-tab index="$index + 1" ng-repeat="view in viewTabs track by $index" active="view.active" disable="view.disabled">
                                <uib-tab-heading>
                                    <i class="glyphicon glyphicon-bell">№{{$index}}</i>
                                </uib-tab-heading>
                                <div class="panel-body editor-panel-body">
                                 <div class="tab-content editor-panel-right-scroll ">
                                    <dir class="tab-content" content="view.content[langForRender[activeViewTab - 1]]">
                                    </dir>
                                    </div>
                                    <div class="editor-right-bottom-console ">
                                        <div class="code-edit">
                                            <div class="code-edit-title" th:text="${lgPack.lables.formBuilder.codePromt}" >
                                                Here you see source code:
                                            </div>
                                            <div class="btn btn-default" th:text="${lgPack.lables.formBuilder.addFormToDB}" ng-click="testElementModule()">Add botdialogitem</div>
                                            <div class="btn btn-default" ng-click="updateView()" th:text="${lgPack.lables.formBuilder.update}">Update</div>
                                            <textarea ng-model="htmlCodeForRender[activeViewTab - 1]" class="code-edit-source">
                                            </textarea>
                                        </div>
                                        <dir class="status" th:text="${lgPack.lables.formBuilder.status}">
                                            Status
                                            <span class="value"> 
                                            some message here.....................!!!
                                            </span>
                                        </dir>
                                    </div>
                                </div>
                            </uib-tab>
                            <div class="dropdown editor-dropdown">
                                <a class="editor-dropdown-a" href="" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a >Save</a></li>
                                    <li><a >Create</a></li>
                                    <li ng-click = "getBotDialogItem(1)"><a >Load</a></li>
                                </ul>
                            </div>
                        </uib-tabset>
                    </div>
                </div>
                <div class="col-md-3 editor-right-panel">
                    <uib-tabset class="panel with-nav-tabs panel-primary editor-panel-primary" classes="panel-heading my-panel-heading " active="1">
                        <uib-tab index="1" disable="view.disabled" class="editor-right-panel-tabs-titles ">
                            <uib-tab-heading>
                                <i class="glyphicon glyphicon-bell" th:text="${lgPack.lables.formBuilder.tools}">Tools</i>
                            </uib-tab-heading>
                            <div class="panel-body editor-panel-body-right">
                                <div dnd-list="toolsList" class="tab-content editor-panel-right-scroll" dnd-disable-if="true">
                                    <div class="editor-tools-propertys animate-properties" ng-repeat="tool in toolsList" dnd-draggable="tool" dnd-effect-allowed="copy" dnd-selected="$root.models.selected = tool" ng-class="{'selected': models.selected === tool}">
                                        <div class="atribute">{{tool.type}}</div>
                                        <span class="separator"></span>
                                        <dir class="value">#</dir>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab index="2" active="true" disable="view.disabled" class="editor-right-panel-tabs-titles ">
                            <uib-tab-heading>
                                <i class="glyphicon glyphicon-bell" th:text="${lgPack.lables.formBuilder.properties}">Properties</i>
                            </uib-tab-heading>
                            <div class="panel-body editor-panel-body-right">
                                <div class="tab-content editor-panel-right-scroll ">
                                    <div class="editor-tools-propertys animate-properties" ng-repeat="(key, item)  in $root.models.selected.properties">
                                        <div ng-if="compareType(item,'array')" class="input-group">
                                            <span class="input-group-addon" id="sizing-addon2">{{key}}</span>
                                            <tags-input min-length="1" placeholder="Add new item" ng-model="$root.models.selected.properties[key]" />
                                        </div>
                                        <div ng-if="compareType(item,'string')" class="input-group">
                                            <span class="input-group-addon" id="sizing-addon2">{{key}}</span>
                                            <input ng-model="$root.models.selected.properties[key]" type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon2" />
                                        </div>
                                        <div ng-if="compareType(item,'bool')" class="input-group">
                                            <span class="input-group-addon" id="sizing-addon2">{{key}}</span>
                                            <span class="input-group-addon" id="basic-addon2">
                                            <input ng-model = "$root.models.selected.properties[key]" type="checkbox" name="vehicle"/>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                    </uib-tabset>
                    <div class=" right-panel-bottom">
                        <div class=" right-panel-lang">
                            <div class="right-panel-lang-text" th:text="${lgPack.lables.formBuilder.lang}">Lang: </div>
                            <div class="dropdown right-panel-lang-dropdown">
                                <select class="form-control lang-dropdown" ng-change = "updateView()" ng-model="langForRender[activeViewTab - 1]">
                                    <option label="Ukranian" value="ua" selected="selected">Ukranian</option>
                                    <option label="English" value="en" selected="selected">English</option>
                                    <option label="Russian" value="ru" selected="selected">Russian</option>
                                </select>
                            </div>
                        </div>
                        <div class="right-panel-description">
                            <div class="right-panel-description-title" th:text="${lgPack.lables.formBuilder.description}"> Descriprion: </div>
                            <textarea ng-model="descriprionForRender[activeViewTab - 1]" class="right-panel-description-text"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <span id="tooltip-mouse">
    </span>

