<span>
	<h4 th:text="${lgPack.lable_dialog} + ': [{{dialogName}}]'">Dialog
		name</h4>
	<div>
		<div class="row">
			<div class="col-xs-4">
				<h4
					th:text="${lgPack.lable_participants} + ' [{{participants.length}}]'">Participants
					[{{participants.length}}]</h4>
				<div class="dropdown dropdown-scroll" ng-app="app">
					<div ng-show="checkUserAdditionPermission()">
						<div class="input-group input-group-sm search-control">

							<input type="text" class="form-control" placeholder="Query"
								ng-model="$parent.searchInputValue.email"
								ng-blur="hideSearchList()" ng-change="showSearchList()"></input>
							<span ng-click="addUserToRoom()" class="input-group-addon">
								<span ng-show="$parent.userAddedToRoom"
								class="glyphicon glyphicon-search"></span> <img
								ng-hide="$parent.userAddedToRoom"
								src="images/ajax_loader_blue_32.gif" />
							</span>
						</div>
						<div class="search-list" ng-show="$parent.show_search_list">
							<ul aria-labelledby="dropdownMenu1">
								<li role="presentation" ng-repeat='item in $parent.emails'
									ng-click="appendToSearchInput(item)"><a> {{item}} </a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="share">
					<ul ng-repeat="participant in participants | orderBy:'-username'">
						<li><span class="input-icon fui-new"
							ng-show="participant.typing"></span> <span
							ng-style="!participant.online ? {color:'red' } : {color:'green'}"
							class="input-icon fui-user" ng-show="!participant.typing"></span>
							<a ng-if="participant.intitaUserId != null"
							class="a_user_nickname" target="_parent"
							th:href="${config.get('baseUrl')+'/profile/{{participant.intitaUserId}}'}">{{participant.username}}</a>
							<span ng-if="participant.intitaUserId == null"
							class="a_user_nickname">{{participant.username}}</span> <!--ng-click="privateSending(participant.username)"-->

						</li>
					</ul>
				</div>
			</div>
			<div id="messagesScroll" name="messagesScroll" class="col-xs-8 chat-box">
				<h4 th:text="${lgPack.lable_messages}">Messages</h4>
				<div class = "testq" infinite-scroll='loadOtherMessages()' infinite-scroll-disabled='message_busy' infinite-scroll-distance='0' infinite-scroll-parent="true" infinite-scroll-container='"#messagesScroll"'>
					<div ng-repeat="message in messages track by $index">
						<small print-message=""></small>
						<div ng-repeat="file in message.attachedFiles track by $index">
							<a ng-href="{{file}}">{{getNameFromUrl(file)}}</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div ng-show="isMyRoom" class="row">
			<div class="form-group row" id="controlFormGroup">
				<span><small>You will send this message to <strong>{{sendTo}}</strong>
						(click a participant name to send a private message)
				</small></span> <input id="newMessageInput" type="text" class=" col-xs-10 "
					th:placeholder="${lgPack.lable_message_placeholder}"
					placeholder="Write your message and hit enter..."
					ng-model="newMessage"
					ng-keyup="$event.keyCode == 13 ? sendMessage() : startTyping()" />
				<!-- <input id="newUserInput" type="text" class="form-control" placeholder="Enter new user" ng-model="$parent.newUser" ng-keyup="$event.keyCode == 13 ? addUserToRoom() : 0"/> -->
				<!--   <input id="roomId" type="text" class="form-control" placeholder="Enter roomId" ng-model="$parent.roomId" ng-keyup="$event.keyCode == 13 ? changeRoom() : 0"/> -->
				<button class="col-xs-2" ng-click="sendMessage()">
					<img ng-hide="messageSended" src="images/ajax_loader_blue_32.gif" />
					<span th:text="${lgPack.lable_send}" ng-show="messageSended">Send</span>
				</button>
				<form name="uploadfile" enctype="multipart/form-data"
					id="upload_file_form">
					<input type="file" multiple="multiple" name="myfile" /> <input
						type="submit" value="Загрузить" />

					<div ng-hide="uploadProgress==0" class="progress">
						<div class="progress-bar progress-bar-striped active"
							role="progressbar" aria-valuenow="{{uploadProgress}}"
							aria-valuemin="0" aria-valuemax="100"
							style="width: {{uploadProgress">{{uploadProgress}}%</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</span>
