<div class="content container-fluid bootstrap snippets container">
    <div class="decor-default">
        <div class="contacts-list">
            <form class="ac-custom ac-checkbox ac-checkmark" autocomplete="off">
                <div class="input-group chat-head">
                    <div class="row">
                        <div class="col-xs-12 col-sm-10 height-full">
                            <span class="glyphicon glyphicon-search left-search-icon" />
                            <input type="text" ng-model="roomsearchquery" class="contacts-list-search height-full" th:placeholder="${lgPack.lables.roomListView.search_placeholder}" placeholder="Search" />
                            <div class="switch dialog-icon free_tenant">
                                <input id="cmn-toggle-7" class="cmn-toggle cmn-toggle-yes-no" type="checkbox" ng-visible="isUserTenant" ng-checked="isTenantFree" ng-click="clickSetTenantFree()" />
                                <label for="cmn-toggle-7" data-on="Вільний" data-off="Зайнятий"></label>
                            </div>
                            <div class="multiple-select-wrapper noveredmark dialog-filter-wraper">
                                <span class="dialog-icon filter glyphicon-align-left"></span>
                                <div class="list">
                                    <ul class="items-list">
                                        <li class="dlg-filter-li" ng-repeat="airline in Airlines" ng-click="airline.selected = !airline.selected">
                                            <input type="checkbox" ng-model="airline.selected" />
                                            <img ng-src="{{airline.img}}" title="{{airline.name}}" alt="{{airline.name}}" />
                                            <span>{{airline.name}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-2">
                            <button th:text="${lgPack.lables.roomListView.newRoom}" type="button" class="btn btn-default add-room-btn" ng-click="toggleNewRoomModal()">ADD ROOM</button>
                        </div>
                    </div>
                </div>
                <ul ng-repeat="room in rooms | orderBy: ['-nums', '-date'] | filter:filterDialogsByType
               | filter:{string:(roomsearchquery||'')} " class="list-group list-group-dialogs">
                    <li class="list-group-item list-group-item-dialogs">
                        <div id="roomItem" class="row room_item" ng-click="onRoomItemClick($event, room.roomId)">
                            <div class="col-md-3 col-xs-5 participants_avatar_column center_flex_vertical">
                                <div class=" avatar_group avatar-container">
                                    <img ng-style="calcImage(room.avatars.length, $index)" ng-repeat="avatar in room.avatars track by $index" ng-src="{{baseurl}}/images/avatars/{{avatar}}" alt="image" class="avatar" />
                                </div>
                                <div class="room_info">
                                    <div class="dialogs_room_user wrapped">
                                        <a id="roomItemLink" class="dialogs_room_name " ng-href="#/dialog_view/{{room.roomId}}">{{room.string}}</a>
                                    </div>
                                    <div th:text="${lgPack.lables.roomListView.participants + ':{{room.participantsCount}}'}" class="dialogs_room_participants">count of participants</div>
                                    <div ng-bind="formatDateWithLast(room.date)"></div>
                                </div>
                            </div>
                            <div class="col-md-9 col-xs-7 center_flex_vertical">
                                <!-- last message text and count of new messages -->
                                <div class="new_message_author_avatar_container">
                                    <img ng-if="room.lastMessageAuthorAvatar.length>0" class="new_message_author_avatar" ng-src="{{baseurl}}/images/avatars/{{room.lastMessageAuthorAvatar}}"> </img>
                                </div>
                                <div class="message_container">
                                    <div class="message_author_header">{{room.lastMessageAuthor}}
                                    </div>
                                    <div class="message_body_item">
                                        <dir ng-if="room.lastMessageAuthorId != 0" id="messageBodyText" class="message_body_text" content="room.lastMessage.escapeHtml()" callback="function(roomElement){
          var elm = roomElement.context;
          $clamp(elm,{clamp:2,useNativeClamp: true, animate: false});
          }"></dir>
                                        <div ng-if="room.lastMessageAuthorId == 0" class="message_body_text">Interactive msg</div>
                                        <div th:text="${lgPack.lables.roomListView.noMessage}" class="message_body_text" ng-hide="room.lastMessage.length>0">No message</div>
                                    </div>
                                </div>
                                <span ng-show="room.nums > 0" class="badge vertical-align new_messages_counter">{{room.nums}}</span>
                                <!-- {{room.lastMessage}} -->
                            </div>
                        </div>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>
<div id="new_room_modal" class="modal fade" th:include="createDialogModalWindow" />
<div id="askTenantToTakeConsultation" class="modal fade" th:include="askTenantToTakeConsultationWindow" />
