		
<div class="row">
    <div class="col-xs-12 chat-box">
        <h4 th:text="${lnPack.lable_dialog} + ' [{{roomsCount}}]'">Dialogs </h4>
        <div class="share">
        <ul ng-repeat="room in rooms | orderBy: '-date' " ng-show="socketSupport">
                <li>               
                    <span ng-show="room.nums > 0" class="badge">{{room.nums}}</span>
                    <span	class="input-icon fui-user" ng-show="!participant.typing"></span>
                  <a ng-href="#/dialog_view/{{room.roomId}}"  >{{room.string}}</a>
                </li>
            </ul>
            <div ng-hide="socketSupport">

                <p>Test longpolling</p>
                <ul ng-repeat="room in rooms | orderBy: '-date' " >
                    <li>               
                        <span ng-show="room.nums > 0" class="badge">{{room.nums}}</span>
                        <span   class="input-icon fui-user" ng-show="!participant.typing"></span>
                        <a ng-href="#/dialog_view/{{room.roomId}}" >{{room.string}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-10">
        <div class="form-group">
            <input id="newMessageInput" type="text" class="form-control"
            placeholder="Write name of new dialog and hit enter or click plus..."
            ng-model="$parent.dialogName" ng-keyup="$event.keyCode == 13 ? addDialog():0"
            />
        </div>
    </div>
    <div class="col-xs-2">
    	<img ng-hide="$parent.roomAdded" src="images/ajax_loader_blue_32.gif"/>
     <span ng-show="$parent.roomAdded" type="submit" class="buttonPlus" value="Submit" ng-click="addDialog()"/>
 </div>
</div>