<!--OLD
<div class="row">
	<div class="col-xs-12 chat-box">
		<h4 th:text="${lgPack.lable_dialog} + ' [{{roomsCount}}]'">Dialogs
		</h4>
		<ul ng-repeat="room in rooms | orderBy: '-date' "
			ng-show="socketSupport" class="list-group">
			<li class="list-group-item"><span ng-show="room.nums > 0"
				class="badge">{{room.nums}}</span> <a
				ng-href="#/dialog_view/{{room.roomId}}">{{room.string}}</a></li>
		</ul>
		<div ng-hide="socketSupport">
			<p>Test longpolling</p>
			<ul ng-repeat="room in rooms | orderBy: '-date' "
				class="list-group-item">
				<li class="list-group-item"><span ng-show="room.nums > 0"
					class="badge">{{room.nums}}</span> <a
					ng-href="#/dialog_view/{{room.roomId}}">{{room.string}}</a></li>
			</ul>
		</div>

	</div>
	<div id="addRoom" ng-show="isMyRoom" class="col-xs-12">
		<div class="col-xs-10">
			<div class="form-group">
				<input id="newMessageInput" type="text" class="form-control"
					placeholder="Write name of new dialog and hit enter or click plus..."
					ng-model="dialogName"
					ng-keyup="$event.keyCode == 13 ? addDialog():0" />
			</div>
		</div>
		<button ng-click="addDialog()" type="button" class="btn btn-default col-xs-2"
			data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<img ng-hide="$parent.roomAdded" src="images/ajax_loader_blue_32.gif" />
			<span ng-show="$parent.roomAdded" type="submit"  class="glyphicon glyphicon-plus"
				value="Submit" />
		</button>
	</div>
</div>
-->
<!-- NEW TEMPLATE -->

<div class="content container-fluid bootstrap snippets container">
    <div class="decor-default">
          <div class="contacts-list">
            <form class="ac-custom ac-checkbox ac-checkmark" autocomplete="off">
              <div class="input-group chat-head">
              <div class="row">
              <div class="multiple-select-wrapper">
  <div class="selected-items-box glyphicon glyphicon-align-left"></div>
        <div class="list">
                 <ul class="items-list">
                        <li ng-repeat="airline in Airlines">
                                <input type="checkbox" ng-model="airline.selected" />
                                <img ng-src="{{airline.img}}" title="{{airline.name}}" alt="{{airline.name}}" />
        <span>{{airline.name}}</span>
      </li>
    </ul>
  </div>
</div>
               <div class="col-md-1">
               <span ><img src="http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/icon-17.png" alt="search"/></span></div>
               <div class="col-md-7">
                <input type="text" ng-model="roomsearchquery" class="contacts-list-search" placeholder="Search"/>
                </div>
                 <div class="btn-group col-md-2" role="group" style="height: 30%;padding: 0px 0px 0px 0px;">
                    <button type="button" class="btn btn-default"></button>
					<div class="btn-group" role="group" style="">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style=""></button>
                    </div>
                    <button type="button" class="btn btn-default"></button>
                  </div>
                  <div class="col-md-2">
                	<button type="button" style="height: 100%" class="btn btn-default" ng-click="toggleNewRoomModal()">ADD ROOM</button>
                	</div>
                   

                	</div>
              </div>
              <ul ng-repeat="room in rooms | orderBy: '-date' | filter:{string:(roomsearchquery||'')} "
			ng-show="socketSupport" class="list-group">

			<li class="list-group-item">
		
              <div class="row room_item" ng-click="changeLocation('/dialog_view/'+room.roomId)">
     
     			<div class="col-md-3 col-xs-5">
                  <div>
                    <img src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="image" class="avatar"/> 
                    
                  </div>
                  <div class="room_info">
                  <ul class="unstyled_list">
                  <a class="long_text" ng-href="#/dialog_view/{{room.roomId}}">{{room.string}}</a>
                    <li> учасників:{{room.participantsCount}}</li>
                  <li ng-bind="formatDate(room.lastMessageDate, 'minutes ago')"></li>
                  </ul>
                  </div>
              </div> 
                <div class="col-md-9 col-xs-7">
                <!-- last message text and count of new messages -->
                	<div class="message_container">
					<div class="message_author_header">{{room.lastMessageAuthor}}
					</div>
					<div class="message_body_breakable message_body_nopadding">
					<dir content=" room.lastMessage | limitTo:200"></dir>
					<div class="message_text_dialogs" ng-hide="room.lastMessage.length>0">No message</div>
					</div>
					</div>
					<span ng-show="room.nums > 0" class="badge vertical-align new_messages_counter">{{room.nums}}</span> 
                <!-- {{room.lastMessage}} -->
                 
                </div>
              </div>
				</li>
              </ul>

            </form>
          </div>
    </div>
</div>
<!--MODAL -->
<div id="new_room_modal" class="modal fade">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="toggleNewRoomModal()">&times;</button>
        <h4 class="modal-title">Створення кімнати</h4>
      </div>
      <div class="modal-body">
        <input id="roomNameInput" type="text" ng-model="dialogName" placeholder="Назва кімнати"></input>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="toggleNewRoomModal()">Close</button>
         <button type="button" class="btn btn-default" ng-click="addDialog()">Add</button>
      </div>
    </div>

  </div>
</div>
<!--///////////////MODAL -->
