<!DOCTYPE html>
<html style="width: 100%; height: 100%" lang="en" ng-app="springChat">
<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet"/>
<head>
    <meta charset="utf-8" />
    <title>IntITA Chat</title>
    <link rel="icon" href="favicon.ico" />
    <link href="css/style.css" rel="stylesheet" />
    <link href="css/loader.css" rel="stylesheet" />
    <link href="css/angular-szn-autocomplete.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/1.1.0/toaster.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/ngDialog.min.css" />
    <link rel="stylesheet" href="css/ngDialog-theme-default.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
</head>

<body id="body">
    <div id="consultant_wrapper" class="consultant_wrapper" ng-controller="ChatController" ng-class="getStateClass()">
        <toaster-container toaster-options="{'time-out': 1000, 'close-button':true}"></toaster-container>
        <div class="head">
        <img id="menu" modale-toggle="true" callback="toggleMenu()" ignore-id="left_panel" src="images/elements/menu_icon.svg"/>
            <img class="logo" src="images\intita95x30.png" alt="" />
           <div class="window_icons_wrapper">
            <div class="window_icon notification">
                <img src="images/elements/Icon notification.png" alt="" />
                <div class="text"></div>
                <div class="state"></div>
            </div>
            <div class="window_icon message_notification">
                <i class="material-icons ">chat_bubble_outline</i>
                <div ng-if="getNewMsgNumber() > 0" class="text" ng-bind="getNewMsgNumber()"></div>
                <div ng-if="getNewMsgNumber() > 0" class="state"></div>
            </div>
            <div class="window_icon tenant_busy_control" ng-show="getTenantIsFree()" ng-click="clickSetTenantBusy()">
                <i class="material-icons ">hourglass_empty</i>
            </div>
            <div class="window_icon tenant_busy_control" ng-show="!getTenantIsFree()" ng-click="clickSetTenantFree()">
                <i class="material-icons ">hourglass_full</i>
                <div ng-if="getRoomsRequiredTrainersLength() > 0" class="state"></div>
            </div>
               <div  class="window_icon waiting_users">

               </div>
           </div>
        </div>
        <div id="loader-wrapper">
            <div id="loader"></div>
            <div class="loader-section section-left"></div>
            <div class="loader-section section-right"></div>
        </div>
        <div rooms-block-mini="true" class="left_panel_mini noselect"></div>
        <div id="left_panel" class="left_panel noselect ng-class:{active: showMenu}">
            <div class="mainContent">
                <div class="workplace_outter">
                    <div class="workplace_inner">
                        <div class="panel panel-default">
                            <div id="panel-heading" em-height-source="true" callback="resizeRoomElement(oldSize, newSize)">
                                <div students-block="true"></div>
                                <div tenants-block="true"></div>
                                <div participants-block="true"></div>
                            </div>
                            <div id="panel-body">
                                <div id="rooms-block" ng-if="$root.authorize" rooms-block="true" style="height:100%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  ROOMS BLOCK -->
        </div>
        <div class="right_panel">
            <div class="tools_area">
                <div class="tools_dropdown_container">
                    <div id="tools_dropdown" class="popup_dropdown">
                        <a ng-if="!loadOnlyFilesInfiniteScrollMode" ng-click="showAttaches()" class="dropdown_item show_attaches_item">Показати додатки</a>
                        <a ng-if="loadOnlyFilesInfiniteScrollMode" ng-click="showAllMessages(true)" class="dropdown_item show_attaches_item">Показати всі повідомлення</a>
                        <a ng-click="togleSoundEnable()" class="dropdown_item ng-class:{sound_on_item:!soundEnable, sound_off_item:soundEnable} ">{{soundEnable ? 'Вимкнути звук' : 'Увімкнути звук'}}</a>
                        <a class="dropdown_item leave_room_item" ng-if="authorize &amp;&amp; canLeaveCurrentRoom()" ng-click="toggleAskForDeleteMeFromCurrentRoom()">Вийти з кімнати</a>
                        <a class="dropdown_item remove_history_item">Видалити історію</a>
                    </div>
                    <button modale-toggle="true" callback="tools_dropdown_click()" ignore-id="tools_dropdown" class="open_dropdown_button">
                        <img src="images\elements\config.png" alt="" />
                    </button>
                </div>
                <div class="room_info">
                    <div class="room_name">{{getCurrentRoom().string}}</div>
                </div>
                <div class="search_box">
                    <input id="searchInput" ng-model="messageSearchQuery" class="search_input" ng-class="{'showed':(messageSearchEnabled)}" ng-change="updateMessagesSearch()" ng-blur="focusMessagesSearchChange()" type="text"  placeholder="Пошук..." />
                    <img ng-click="enableMessagesSearch($event)" ng-class="{'showed':(!messageSearchEnabled &amp;&amp; !currentRoomIsNull())}" class="search_icon" src="images\search17x17.png" alt="" />
                    <img ng-click="disableMessagesSearch(true)" ng-class="{'showed':messageSearchEnabled}" class="close_search_icon" src="images/X.svg" alt="" />
                </div>
            </div>
            <hr/>
            <div class="messages_output_area messages_wrapper scroll" id="messagesScroll" infinite-scroll='$root.loadOtherMessages()'
                 can-load='!$root.message_busy'
                 treshold='100'
                 infinite-scroll-invert='true' messages-block="true"></div>
            <!--It's message displayer-->
            <div ng-show="isMessageInputAvailable()" class="messages_input_area" message-input="true"></div>
        </div>
    </div>
        <script th:inline="javascript">
        var globalConfig = {  
                     baseUrl:[[${config.get('baseUrl')}]], 
                     imagesPath : [[${config.get('imagesPath')}]],
                     lang: [[${config.get('currentLang')}]]
        };;
        
        var USER_COPABILITIES_BY_ROOM = [[${user_copabilities_supported}]];
        
        var formBuilderLocal = [[${lgPack.lables.formBuilder}]];
        var fileUploadLocal = [[${lgPack.fileOperations}]];
    </script>
    <script src="lib/jquery.min.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-animate/angular-animate.js"></script>
    <script src="lib/angularjs-toaster/toaster.js"></script>
    <script src="lib/angular-route/angular-route.js"></script>
    <script src="lib/angular-cooks/angular-cookies.js"></script>
    <script src="lib/angular-resource/angular-resource.js"></script>
    <script src="lib/angular-sanitize/angular-sanitize.js"></script>
    <script src="lib/angularjs-scroll-glue/src/scrollglue.js"></script>
    <script src="lib/ngDialog.min.js"></script>
    <script th:src="'lib/angular/i18n/angular-locale_'+ ${config.get('currentLang')}+'.js'"></script>
    <script src="lib/tags_input/ng-tags-input.js"></script>
    <script type='text/javascript' src='lib/infinite-scroll/ng-infinite-scroll-test.min.js'></script>
    <script src="//cdn.jsdelivr.net/sockjs/1/sockjs.min.js"></script>
    <script src="lib/stomp/lib/stomp.js"></script>
    <script src="js/globalFunc.js"></script>
    <script src="js/app.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/mainController.js"></script>
    <script src="js/services.js"></script>
    <script src="js/RoomsFactory.js"></script>
    <script src="js/ChannelFactory.js"></script>
    <script src="js/UserFactory.js"></script>
    <script src="lib/angular-szn-autocomplete.js"></script>
    <script src="lib/angular-file-upload/ng-file-upload.min.js"></script>
    <script src="lib/jquery.ba-resize.min.js"></script>
    <script src="lib/angular-contenteditable.js"></script>
</body>

</html>
