<!DOCTYPE html>
<html style="width: 100%; height: 100%" lang="en" ng-app="springChat">

<head>
    <meta charset="utf-8" />
    <title>IntITA Chat</title>
    <link rel="icon" href="favicon.ico" />
    <link href="css/style.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/1.1.0/toaster.min.css" rel="stylesheet" />
</head>

<body>
    <div class="consultant_wrapper" ng-controller="ChatController">
    <toaster-container toaster-options="{'time-out': 1000, 'close-button':true}"></toaster-container>
        <div class="left_panel">
            <div students-block="true"></div>
            <div participants-block="true"></div>
            <!--  ROOMS BLOCK -->
            <div rooms-block="true" style="height: calc(100% - 60px);"></div>
            <div class="bottom_logo">
                <img src="images\intita95x30.png" alt="" />
            </div>
        </div>
        <div class="right_panel">
            <div class="tools_area">
                <ul id="tools_dropdown" class="popup_dropdown">
                    <li class="show_attaches_item"><a href="#">Показати додатки</a></li>
                    <li ng-click="togleSoundEnable()" class="ng-class:{sound_on_item:!soundEnable, sound_off_item:soundEnable,} "><a>{{soundEnable ? 'Вимкнути звук' : 'Увімкнути звук'}}</a></li>
                    <li class="remove_history_item"><a href="#">Видалити історію</a></li>
                </ul>
                <button class="open_dropdown_button" onclick="tools_dropdown_click()">
                    <img src="images\triple_dots26x8.png" alt="" />
                </button>
                <input type="text" class="transparent_input search_input" placeholder="Пошук..." />
                <img class="search_icon" src="images\search17x17.png" alt="" />
            </div>
            <hr/>
            <div messages-block="true" style="height: calc(100% - 145px); max-height: calc(100% - 145px);"></div>
            <!--It's message displayer-->
            <hr/>
            <div class="messages_input_area">
                <input class="transparent_input message_input" type="text" placeholder="Напишіть ваше повідомлення сюди..." ng-model="newMessage" />
                <div class="controls_area">
                    <div class="multimedia_conversation_controls">
                        <button class="skype"><img src="images\skype24x23.png" alt="" /></button>
                        <button class="microphone"><img src="images\mic18x23.png" alt="" /></button>
                    </div>
                    <div class="attaches_area">
                        <ul id="attaches_dropdown" class="popup_dropdown">
                            <li class="attaches_item"><a ngf-select="uploadFiles($files)" multiple="true" href="#">Документ</a></li>
                            <li class="video_item"><a href="#">Відео</a></li>
                            <li class="audio_item"><a href="#">Аудіо</a></li>
                        </ul>
                        <div  class="upload_file_form_container">
                        </div>
                        <button class="smiles"><img src="images\smile23x23.png" alt="" /></button>
                        <button class="attaches" onclick="attaches_dropdown_click()"><img src="images\attaches26x23.png" alt="" /></button>
                        <div class="send_button" ng-click="sendMessage()">ВІДПРАВИТИ&#47;&#62;</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <script th:inline="javascript">
		var globalConfig = {  
					 baseUrl:[[${config.get('baseUrl')}]], 
					 lang: [[${config.get('currentLang')}]]
		};;
		
		var USER_COPABILITIES_BY_ROOM = [[${user_copabilities_supported}]];
		
		var formBuilderLocal = [[${lgPack.lables.formBuilder}]];
		var fileUploadLocal = [[${lgPack.fileOperations}]];
	</script>
    <script src="lib/jquery.min.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-animate/angular-animate.js"></script>
    <script src="lib/angularjs-toaster/toaster.js"></script>
    <script src="lib/angular-route/angular-route.js"></script>
    <script src="lib/angular-cooks/angular-cookies.js"></script>
    <script src="lib/angular-resource/angular-resource.js"></script>
    <script src="lib/angular-sanitize/angular-sanitize.js"></script>
    <script src="lib/angularjs-scroll-glue/src/scrollglue.js"></script>
    <script th:src="'lib/angular/i18n/angular-locale_'+ ${config.get('currentLang')}+'.js'"></script>
    <script src="lib/ui-bootstrap.js"></script>
    <script src="lib/tags_input/ng-tags-input.js"></script>
    <script type='text/javascript' src='lib/infinite-scroll/ng-infinite-scroll.min.js'></script>
    <script src="//cdn.jsdelivr.net/sockjs/1/sockjs.min.js"></script>
    <script src="lib/stomp/lib/stomp.js"></script>
    <script src="lib/nice_scroll.js"></script>
    <script src="js/globalFunc.js"></script>
    <script src="js/app.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/mainController.js"></script>
    <script src="js/services.js"></script>
    <script src="js/RoomsFactory.js"></script>
    <script src="js/ChannelFactory.js"></script>
    <script src="js/UserFactory.js"></script>
    <script src="js/ui.js"></script>
    <script src="lib/clamp.js"></script>
	<script src="lib/elastic.js"></script>
	<script src="lib/ui-bootstrap.js"></script>
	<script src="lib/angular-file-upload/ng-file-upload.min.js"></script>
</body>

</html>
