<!DOCTYPE html>

<html style="width: 100%; height: 100%" lang="en" ng-app="springChat">
<head>
<meta charset="utf-8" />
<title>IntITA Chat</title>
<link rel="icon" href="favicon.ico"/>
<link
	href="css/bootstrap.min.css"
	rel="stylesheet" />
<link href="lib/angularjs-toaster/toaster.css" rel="stylesheet" />
<link
	href="css/font-awesome.min.css"
	rel="stylesheet" />
<link href="css/fileinput.min.css" media="all" rel="stylesheet"
	type="text/css" />
	
<link href="css/chat.css" rel="stylesheet" />
<link href="css/new_chat_chatview.css" rel="stylesheet" />
<link href="css/new_chat_dialogsview.css" rel="stylesheet" />

<link href="css/chat_colors.css" rel="stylesheet" />
<link href="css/ng-animation.css" rel="stylesheet" />
<link href="css/colorpicker.min.css" rel="stylesheet"/>

<link href="lib/tags_input/ng-tags-input.css" rel="stylesheet" />
<link href="lib/tags_input/ng-tags-input.bootstrap.css" rel="stylesheet" />

</head>
<body>

	<div id="mainContainer"
		class="content container-fluid bootstrap snippets container "
		ng-controller="ChatController">
<!--		Dialogs__ChatUser:{{chatUserId}}-->
		<div class="page {{ pageClass }}" ng-view=""></div>
	</div>

 <toaster-container toaster-options="{'time-out': 1000, 'close-button':true}"></toaster-container>
	<!-- /.container -->

	<!-- 3rd party -->
	<script src="lib/jquery.min.js"></script>
	<script src="lib/angular/angular.js"></script>
	<script src="lib/angular-animate/angular-animate.js"></script>
	<script src="lib/angularjs-toaster/toaster.js"></script>
	<script src="lib/angular-route/angular-route.js"></script>
	<script src="lib/angular-cooks/angular-cookies.js"></script>
	<script src="lib/angular-resource/angular-resource.js"></script>
	<script src="lib/angular-sanitize/angular-sanitize.js"></script>
	<script src="lib/angularjs-scroll-glue/src/scrollglue.js"></script>
	<script th:src="'lib/angular/i18n/angular-locale_'+ ${config.get('currentLang')}+'.js'"></script>

	<script src="lib/drag-drop/angular-drag-and-drop-lists.js"></script>
	<script src="lib/tags_input/ng-tags-input.js"></script>
	

	<script type='text/javascript'
		src='lib/infinite-scroll/ng-infinite-scroll.min.js'></script>
	<script src="//cdn.jsdelivr.net/sockjs/1/sockjs.min.js"></script>
	<script src="lib/stomp/lib/stomp.js"></script>

	<script src="lib/clamp.js"></script>
	<script src="lib/elastic.js"></script>
	<script src="lib/ui-bootstrap.js"></script>
	<script src="lib/nice_scroll.js"></script>
	<script src="lib/bootstrap-colorpicker-module.min.js"></script>
	
	<script
		src="lib/bootstrap.min.js"
		type="text/javascript"></script>
	<script src="lib/fileinputModule/plugins/canvas-to-blob.min.js"
		type="text/javascript"></script>

	<script src="lib/fileinputModule/fileinput.min.js"></script>
	<script th:src="'lib/fileinputModule/fileinput_locale_'+ ${config.get('currentLang')}+'.js'"></script>

	<!-- App -->
	<script src="js/app.js"></script>

	<script th:inline="javascript">
		var globalConfig = {  
					 baseUrl:[[${config.get('baseUrl')}]], 
					 lang: [[${config.get('currentLang')}]]
		};
		var filters = [[${lgPack.lables.roomListView.filters}]];
		
		var USER_COPABILITIES_BY_ROOM = [[${user_copabilities_supported}]];
		
		var formBuilderLocal = [[${lgPack.lables.formBuilder}]];
		var fileUploadLocal = [[${lgPack.fileOperations}]];
	</script>
	<script src="js/globalFunc.js"></script>
	<script src="js/bot/botElementsModule.js"></script>
	
	<script src="js/controllers.js"></script>
	<script src="js/ChatRouteInterface.js"></script>
	<script src="js/chatController.js"></script>
	<script src="js/consultationController.js"></script>
	<script src="js/roomController.js"></script>

	<script src="js/bot/botController.js"></script>
	<script src="js/bot/botViewItemController.js"></script>

	<script src="js/bot/viewBuilderController.js"></script>
	<script src="js/bot/botViewBuilderController.js"></script>
	<script src="js/bot/botFormBuilderController .js"></script>


	
	<script src="js/services.js"></script>
	<script src="js/directives.js"></script>
	<script src="js/bot/botDirectives.js"></script>
	
	


</body>
</html>