<div >
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="toggleLoadDialogItemModal()">&times;</button>
                <h4 id="wndTitle" class="modal-title">Завантаження DialogItem</h4>
            </div>
            <div class="modal-body">
            <input
                                    ng-focus="searchFocus=true;" ng-blur="searchFocus=false;"
                                    autocomplete="off" type="text" class="form-control display-block"
                                    name="search" id="search"
                                    ng-model="categoryInputModel"
                                    ng-change="reloadCategories()" 
                                    placeholder="Назва Категорії" 
                                    typeahead-wait-ms = "1000" 
                                    uib-typeahead="item.name for item in botCategoriesForModal"     
                                    typeahead-on-select = "onCategoryInputSelect($model)"/>
            <select  id="categoryIdToLoad" type="text" ng-options="c.id for c in botCategoriesForModal" ng-model="selectedBotCategoryForModal" placeholder="Room name"></select>
              <input
                                    ng-focus="searchFocus=true;" ng-blur="searchFocus=false;"
                                    autocomplete="off" type="text" class="form-control display-block"
                                    name="search" id="search"
                                    ng-model="dialogElementInputModel"
                                    ng-change="reloadDialogItems(selectedBotCategoryForModal.id)" 
                                    placeholder="Опис елементу" 
                                    typeahead-wait-ms = "1000" 
                                    uib-typeahead="item.description for item in botDialogItemsForModal"     
                                    typeahead-on-select = "onDialogItemInputSelect($model)"/>

                <select  id="dialogItemIdToLoad" type="text" ng-options="n.idObject.id for n in botDialogItemsForModal | unique:'n.idObject.id'" ng-model="selectedBotDialogItemForModal" ng-change="selectedBotDialogItemForModalChanged()" placeholder="Room name"></select>
                
            <div class="modal-footer">
                <button id="closeDialogItemLoadModalButton" type="button" class="btn btn-default" ng-click="toggleLoadDialogItemModal()">Close</button>
                <button id="DialogItemLoadModalButton" ng-disabled="isLoadButtonDisabled" type="button" class="btn btn-default" ng-click="loadBotDialogItem(selectedBotDialogItemForModal)">Завантажити</button>
            </div>
        </div>
    </div>
</div>
</div>