<div >
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="toggleLoadDialogItemModal()">&times;</button>
                <h4 id="wndTitle" class="modal-title">Завантаження DialogItem</h4>
            </div>
            <div class="modal-body">
            <div>
            <input ng-focus="searchFocus=true;" ng-blur="searchFocus=false;"
                                    autocomplete="off" type="text" class="dialog_item_loader_input form-control form-inline"
                                    name="search" id="search"
                                    ng-model="categoryInputModel"
                                    ng-change="reloadCategories()" 
                                    placeholder="Назва Категорії" 
                                    typeahead-wait-ms = "1000" 
                                    uib-typeahead="item.name for item in botCategoriesForModal"
                                    typeahead-on-select = "onCategoryInputSelect($model)"/>
            <select  id="categoryIdToLoad" type="text" ng-options="c.id for c in botCategoriesForModal" ng-model="selectedBotCategoryForModal" placeholder="Room name" ng-change="selectedBotCategoryForModalChanged(selectedBotCategoryForModal.id);"></select>
            </div>
            <div>
              <input ng-disabled="DialogItemInputMode==&quot;manual&quot;"
                                    ng-focus="searchFocus=true;" ng-blur="searchFocus=false;"
                                    autocomplete="off" type="text" class="dialog_item_loader_input form-control form-inline"
                                    name="search" id="dialogItemTypehead"
                                    ng-model="dialogElementInputModel"
                                    ng-change="reloadDialogItems(selectedBotCategoryForModal.id)" 
                                    placeholder="Опис елементу" 
                                    typeahead-wait-ms = "1000" 
                                    uib-typeahead="item.description for item in botDialogItemsForModal | unique:'idObject.id'"     
                                    typeahead-on-select = "onDialogItemInputSelect($model)"/>

                <select  id="dialogItemIdToLoad" type="text" ng-options="n.idObject.id for n in botDialogItemsForModal | unique:'idObject.id'" ng-model="selectedBotDialogItemForModal" placeholder="Room name" ng-disabled="DialogItemInputMode==&quot;manual&quot;"></select >
                <input type="radio" ng-change="updateLoadButton();" name="dialog_id_input_type" value="auto" ng-model="DialogItemInputMode" />
                <input type="number" class="dialog_item_loader_input form-control form-inline" placeholder="Задати id вручну"  ng-model="selectedBotDialogItemForModalIdManually" ng-disabled="DialogItemInputMode==&quot;auto&quot;" ng-change="updateLoadButton();" />
                <!-- input type selection -->
                <input type="radio" ng-change="updateLoadButton();" name="dialog_id_input_type" value="manual" ng-model="DialogItemInputMode" />
                </div>
                
            <div class="modal-footer">
                <button id="closeDialogItemLoadModalButton" type="button" class="btn btn-default" ng-click="toggleLoadDialogItemModal()">Close</button>
                <button id="DialogItemLoadModalButton" ng-disabled="isLoadButtonDisabled" type="button" class="btn btn-default" ng-click="loadBotDialogItem(selectedBotDialogItemForModal.idObject.id)">Завантажити</button>
            </div>
        </div>
    </div>
</div>
</div>