<div class="user dialog" ng-repeat="item in emails">
    <div class="avatar">
        <a target="_blank" ng-if="item.id" ng-href="{{$root.baseurl}}/profile/{{item.id}}">
            <div class="avatar-contaiter centered">
                <!--ng-init="scaleCenterIconCircle()" -->
                <img ng-src="{{$root.baseurl}}/images/avatars/{{item.avatar}}" alt="{{item.username}}" />
            </div>
        </a>
        <a target="_blank" ng-if="!item.id"> <img ng-src="{{$root.baseurl}}/images/avatars/{{item.avatar}}" alt="{{item.username}}" />
        </a>
        <div ng-class="!item.id ? 'status offline' : 'status online'" class=""></div>
    </div>
    <div class="name dialog">{{$root.getUserSearchIndetify(item, searchInputValue.email)}}</div>
</div>