<hr/>
<div class="transparent_input message_input" tabindex="-1" type="text" placeholder="Напишіть ваше повідомлення" ng-model="newMessage.value" content-editable="true" ng-keypress="keyPress($event)"></div>

<div class="files_input">
    <img ng-if="files!=null && files.length>0" src="images/X.svg" alt="" ng-click="clearFiles()" />
    <div ng-repeat="file in files" class="display-file-container" file-miniature="true" nameOnly="true" link="file.name" remove-callback="removeFileFromUpload"></div>
</div>
<div class="controls_area">
    <div class="multimedia_conversation_controls">
        <button class="skype"><i class="material-icons">videocam</i></button>
        <button class="microphone"><i class="material-icons">mic</i></button>
    </div>
    <div id="attaches_area" class="attaches_area">
        <ul id="attaches_dropdown" class="popup_dropdown">
            <a class=" dropdown_item attaches_item ngf_select" ngf-select ngf-change="selectFiles($files)" multiple="true">Документ</a>
            <a class=" dropdown_item video_item">Відео</a>
            <a class="dropdown_item audio_item">Аудіо</a>
        </ul>
        <div class="upload_file_form_container"></div>
        <button class="smiles"><i class="material-icons">tag_faces</i></button>
        <button class="attaches" modale-toggle="true" callback="attaches_dropdown_click()" ignore-id="attaches_area"><i class="material-icons">attachment</i></button>
        <div class="send_button" ng-click="sendMessageAndFiles()">ВІДПРАВИТИ &#47;&gt; <i class="material-icons">send</i></div>
        <!--- class="newMessage.value.trim().length==0"-->
    </div>
</div>

<script>
$.emojiarea.path = 'lib/jquery-emojiarea/packs/basic/images';
var $wysiwyg = $('.message_input').emojiarea({
    wysiwyg: true,
    button: $(".smiles")
});

$wysiwyg.on('change', function() {
   
});

</script>
