<!-- Сьогоднішні повідомлення -->
<div ng-repeat-start="message in (orderedMsgs = (messages() | orderBy : 'date'))" class="message_date_separator" ng-if="checkIfToday(message.date) &amp;&amp; (checkIfToday(message.date) != checkIfToday(messages()[$index-1].date))">
    <div class="line"></div>
    <div class="big_dot"></div>
    <span class="date_indicator" th:text="${lgPack.msgBox.today}">Сьогодні</span>
    <div class="big_dot"></div>
    <div class="line"></div>
</div>
<div class="message_date_separator" ng-if="checkIfYesterday(message.date)">
    <div class="line"></div>
    <div class="big_dot"></div>
    <span class="date_indicator" th:text="${lgPack.msgBox.yesterday}">Вчора</span>
    <div class="big_dot"></div>
    <div class="line"></div>
</div>
<div class="message_date_separator" ng-if="!needShowDayDivided(message.date, orderedMsgs[$index - 1].date)">
    <div class="line"></div>
    <div class="big_dot"></div>
    <span class="date_indicator">{{::$root.formatDateWithLast(message.date, false, true)}}</span>
    <div class="big_dot"></div>
    <div class="line"></div>
</div>
<div class="user_message" ng-class="message.position ? 'answer right' : 'answer left'" ng-repeat-end="">
    <div class="message_author_avatar" ng-if="!message.position" ng-click="$root.showUserProfileByChatUserId(message.author.id)">
        <div ng-style="{'background-image':'url(' + $root.imagesPath + '/avatars/' + message.author.avatar + ')'}"></div>
    </div>
    <div class="message_details">
        <div class="top_details">
            <span class="messag_author_name">{{::message.author.nickName}}</span>
            <span class="message_date" ng-bind="$root.formatDateWithLast(message.date, false, false, 3600)"></span>
            <span ng-if="message.author.id == UserFactory.getChatUserId()" class="message_state">{{RoomsFactory.lastMsgIsReaded() ? 'прочитано' : 'доставлено'}}</span>
        </div>
        <div ng-click="toggleMessageSelected(olderMessage)" ng-class="{'selected':olderMessage.selected}" class="message_body" ng-repeat="olderMessage in (orderedMsgsOld = (message.olderMessages | orderBy : 'date'))">
            <compilable ng-if="olderMessage.author.id != 0" class="bottom_details" content="retreiveMessageBody(olderMessage)" time="olderMessage.date"></compilable>
            <div class="message_control_wrapper">
            <div class="message_control" ng-if="isMessageEditable(olderMessage) &amp;&amp; olderMessage.selected " ng-click="editMessage(olderMessage)">
                <i class="material-icons">mode_edit</i>
            </div>
            <div class="message_control" ng-if="isMessageRemovable(olderMessage) &amp;&amp; olderMessage.selected " ng-click="removeMessage(olderMessage)">
             <i class="material-icons">delete</i>
            </div>
            </div>
        </div>

        <div ng-click="toggleMessageSelected(message)" ng-class="{'selected':message.selected}" class="message_body">
        <compilable ng-if="message.author.id != 0" class="bottom_details" content="retreiveMessageBody(message)" time="message.date"></compilable>
        <div class="message_control_wrapper">
        <div class="message_control" ng-if="isMessageEditable(message) &amp;&amp; message.selected " ng-click="editMessage(message)">
            <i class="material-icons">mode_edit</i>
        </div>
        <div class="message_control" ng-if="isMessageRemovable(message) &amp;&amp; message.selected " ng-click="removeMessage(message)">
             <i class="material-icons">delete</i>
            </div>
            </div>
        
        </div>

        <div ng-click="toggleMessageSelected(newerMessage)" ng-class="{'selected':newerMessage.selected}"  class="message_body" ng-repeat="newerMessage in (orderedMsgsNew = (message.newerMessages | orderBy : 'date'))">
            <compilable ng-if="newerMessage.author.id != 0" class="bottom_details" content="retreiveMessageBody(newerMessage)" time="newerMessage.date"></compilable>
            <div class="message_control_wrapper">
            <div class="message_control"  ng-if="isMessageEditable(newerMessage) &amp;&amp; newerMessage.selected " ng-click="editMessage(newerMessage)">
                <i class="material-icons">mode_edit</i>
            </div>
            <div  ng-if="isMessageRemovable(newerMessage) &amp;&amp; newerMessage.selected" ng-click="removeMessage(newerMessage)">
             <i class="material-icons">delete</i>
            </div>
            </div>
        </div>
        <div ng-if="message.author.id == 0" bot-container=" " style="margin: 0px;" content="message.body" time="message.date"></div>
        <hr ng-if="message.attachedFiles.length > 0 &amp;&amp; message.body != ' ' " />
        <div class="display-file-container" ng-repeat="file in message.attachedFiles track by $index" file-miniature="true" link="file">
        </div>
        <div ng-if="message.author.id != 1" class="like_wrapper noselect" ng-class="{'nolike':message.dislikes < 1 &amp;&amp; message.likes < 1}" ng-mouseleave="hideWhoLikeOrDisLike()">
            <a ng-click="likeMessage(message)" ng-mouseenter="showWhoLike($event, message)" class="like_button" ng-class="{'selected':isMessageLiked(message.id)}">
                <i class="material-icons">thumb_up</i>
                <span>{{message.likes}}</span>
            </a>
            <a ng-click="dislikeMessage(message)" ng-mouseenter="showWhoDisLike($event, message)" class="like_button" ng-class="{'selected':isMessageDisliked(message.id)}">
                <i class="material-icons">thumb_down</i>
                <span>{{message.dislikes}}</span>
            </a>
            <div class="who-like-modal" id="{{'who-like-' + message.id}}" infinite-scroll='loadOtherWhoLikeUsers(message)' can-load='true' treshold='100'>
                <div class="item" ng-repeat="user in whoLikeUsersByMessage[message.id]" ng-click="$root.showUserProfileByChatUserId(user.id)">
                    <div class="avatar" ng-style="{'background-image':'url(' + $root.imagesPath + '/avatars/' + user.avatar + ')'}"></div>
                </div>
                <span ng-if="whoLikeUsersByMessage.length == 0" class="mini-preloader">                
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </div>
        </div>
    </div>
    <div class="message_author_avatar" ng-if="message.position" ng-click="$root.showUserProfileByChatUserId(message.author.id)">
        <div ng-style="{'background-image':'url(' + $root.imagesPath + '/avatars/' + message.author.avatar + ')'}"></div>
    </div>
</div>
<!-- //Сьогоднішні повідомлення -->