<div class="user_write_message_notification_wrapper" ng-show="isAnyOneWriting()">
    <div class="user_write_message_notification">
        {{getWritingUsersInfo()}}
        <div class="typing-indicator">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<div class="user_write_message_notification_wrapper" ng-show="isAnyOneWriting()">
    <div class="user_write_message_notification">
        {{getWritingUsersInfo()}} <i class="material-icons">keyboard</i></div>
</div>
<hr/>
<div class="transparent_input message_input" tabindex="-1" type="text" th:placeholder="${lgPack.inputArea.typeHead}" ng-model="newMessage.value" content-editable="true" ng-keypress="keyPress($event)"></div>
<div class="files_input">
    <img ng-if="files!=null &amp;&amp; files.length>0" src="images/X.svg" alt="" ng-click="clearFiles()" />
    <div ng-repeat="file in files" class="display-file-container" file-miniature="true" nameOnly="true" link="file.name" remove-callback="removeFileFromUpload"></div>
</div>
<div class="controls_area">
    <div class="multimedia_conversation_controls">
        <button class="skype"><i class="material-icons">videocam</i></button>
        <button class="microphone"><i class="material-icons">mic</i></button>
    </div>
    <div id="attaches_area" class="attaches_area">
        <ul id="attaches_dropdown" class="popup_dropdown">
            <a class="dropdown_item attaches_item ngf_select" ngf-select="true" ngf-change="selectFiles(&#36;files)" multiple="true" th:text="${lgPack.inputArea.attaches.doc}">Документ</a>
            <a class="dropdown_item video_item" th:text="${lgPack.inputArea.attaches.video}">Відео</a>
            <a class="dropdown_item audio_item" th:text="${lgPack.inputArea.attaches.audio}">Аудіо</a>
        </ul>
        <ul id="help_dropdown" class="popup_dropdown">
            shift+enter - нова стрічка
        </ul>
        <div class="upload_file_form_container"></div>
        <button modale-toggle="true" ignore-id="attaches_area" callback="help_dropdown_click()"><i class="material-icons">help_outline</i></button>
        <button class="smiles"><i class="material-icons">tag_faces</i></button>
        <button class="attaches" modale-toggle="true" callback="attaches_dropdown_click()" ignore-id="attaches_area"><i class="material-icons">attachment</i></button>
        <div class="send_button" ng-click="sendMessageAndFiles()"><span th:text="${lgPack.inputArea.sendBtn + ' &#47;&gt;'}">ВІДПРАВИТИ &#47;&gt;</span><i class="material-icons">send</i></div>
        <!--- class="newMessage.value.trim().length==0"-->
    </div>
</div>
<script>
$.emojiarea.path = 'lib/jquery-emojiarea/packs/basic/images';
var $wysiwyg = $('.message_input').emojiarea({
    wysiwyg: true,
    button: $(".smiles")
});

$wysiwyg.on('insert', function() {
    setTimeout(function() {
        $(".transparent_input.message_input").click();
    }, 100);
});
</script>
