<div ng-init="hideEmpty = true" ng-show="participants().length > 2 || (participants().length > 1 &amp;&amp; getChatUserId() != room.roomAuthorId)" class="items_list_block participants_block">
    <div class="block_head" ng-click="toggleFolded()">
        <div  tooltip="Додати нового опонента" title-direction="top-right" ng-if="checkUserAdditionPermission()" class="block_controll unfoldable_element" modale-toggle="true" callback="toggleNewUser()" ignore-id="['items_list_block','rooms_users_search_icon','users_search_input','user_contacts_menu_item']"><img src="images/elements/add.png"/></div>
        <div class="block_name">{{blockName}}</div>
        <div ng-show="participants().length > 2" class="dropdown_icon material-icons ng-class:{unfolded:!folded}">arrow_drop_down</div>
        <i ng-click="toggleCollapseBlock($event)" class="collapse_block_button material-icons" ng-class="{'detach':collapsed}">
            <svg style="width:22px;height:24px" viewBox="0 0 24 24">
    <path fill="#000000" d="M16,12V4H17V2H7V4H8V12L6,14V16H11.2V22H12.8V16H18V14L16,12Z" />
</svg>
        </i>
        <div class="block_head_diveded"></div>
    </div>
    <div class="block_content scroll ng-class:{unfolded:!folded,collapsed:collapsed}">
        <div ng-if="getChatUserId() != participant.chatUserId" class="block_item" ng-repeat="participant in participants() | orderBy:participantsSort" ng-include="'static_templates/participants_block_item.html'">
        </div>
    </div>
</div>
