<div id="items_list_block_mini" class="items_list_block bottom_block scroll contacts_list">
    <div class="section" id="room_mini__{{room.id}}__" ng-repeat="room in (roomsF = ((rooms() | roomsBlockFilter : getTabState()) | orderBy:myValueFunction))">
        <div class="section_content">
            <div ng-class="{selected: getCurrentRoom().id == room.id}" class="block_item selectable" ng-click="doGoToRoom(room.id)">
                <div class="avatar  ng-class:{offline:!isInterlocutorOnline(room), online:isInterlocutorOnline(room)}">
                    <div class="user_image" ng-style="{'background-image':'url(' + $root.imagesPath + '/avatars/' + returnAvatar(room) + ')'}"></div>
                    <div class="user_presence_icon" ng-show="isRoomPrivate(room)"></div>
                    <div class="user_presence_icon_wraper" ng-show="isRoomPrivate(room)"></div>
                </div>
                <div class="text_info">
                    <div class="user_name">{{room.string}}</div>
                </div>
                <div class="contact_control">
                    <div ng-if="room.nums > 0 &amp;&amp; getCurrentRoom().id != room.id" class="budget">{{room.nums}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
