<div ng-if="students.length > 0 || isGroupMode" class="items_list_block top_block">
    <div class="block_head" ng-click="toggleFolded($event,students.length)">
        <div class="block_controll" ng-show="isGroupMode" ng-click="toggleGroupMode()"><i class="material-icons unfoldable_element">group_work</i></div>
        <div class="block_controll" ng-show="!isGroupMode" ng-click="toggleGroupMode()"><i class="material-icons unfoldable_element">account_circle</i></div>
        <div class="block_name">{{blockName}}</div>
        <div ng-click="toggleCollapseBlock($event)" class="collapse_block_button" ng-class="{'detach':collapsed}">
             <div class="arrow_down"  ng-if="!isUnfolded()">
            <img src="images/arrow.svg"></img>
            </div>
            <div class="arrows_down" ng-if="isHalfUnfolded()">
            <img  src="images/arrows.svg" ></img>
            </div>
            <i class="material-icons" ng-if="isFullUnfolded()">keyboard_arrow_up</i>
        </div>
        <!--<div class="block_head_diveded"></div>-->
    </div>
    <!-- if participants -->
    <div  class="block_content scroll ng-class:{unfolded:isFullUnfolded(),collapsed:!isUnfolded()}">
       <div ng-show="!isGroupMode" class="block_item" ng-repeat="participant in students | orderBy:participantsSort" ng-click="goToPrivateDialog(participant.intitaUserId)" ng-include="'static_templates/participants_block_item.html'"></div>
       <div ng-init="displayLetters = false; roomsF = groupRooms"  ng-show="isGroupMode" class="students_section" ng-repeat="room in groupRooms" ng-include="'static_templates/section_rooms_block_item.html'"></div>
    </div>
    <!-- if rooms -->
</div>
