<div ng-if="isTrainer()" class="items_list_block top_block">
    <div class="block_head" ng-click="toggleFolded()">
        <div ng-show="canSelectForAsk" class="block_controll" modale-toggle="true" callback="toggleSelect()" ignore-id="['tenants_items']">
        <i class="material-icons unfoldable_element">{{checked.length == 0 ? 'account_circle' : 'done'}}</i></div>
        <div ng-if="getTenantsList().length == 0" class="dropdown_icon material-icons ng-class:{unfolded:!folded}"></div>
        <div ng-if="getTenantsList().length > 1" class="dropdown_icon material-icons ng-class:{unfolded:!folded}">arrow_drop_down</div>
        <div class="block_name">{{blockName}}</div>
        <i ng-click="toggleCollapseBlock($event)" class="collapse_block_button material-icons" ng-class="{'detach':collapsed}">
            <svg style="width:22px;height:24px" viewBox="0 0 24 24">
    <path fill="#000000" d="M16,12V4H17V2H7V4H8V12L6,14V16H11.2V22H12.8V16H18V14L16,12Z" />
</svg>
        </i>
    </div>
    <div id="tenants_items" class="block_content scroll ng-class:{unfolded:!folded,collapsed:collapsed}">
        <div ng-click="clickToUserEvent(participant)" ng-if="getChatUserId() != participant.chatUserId" class="block_item" ng-repeat="participant in getTenantsList() | orderBy:participantsSort">
            <div class="avatar ng-class:{offline:!isUserOnline(participant.chatUserId), online:isUserOnline(participant.chatUserId)}">
                <div class="user_image" ng-style="{'background-image':'url(' + $root.imagesPath + '/avatars/' + participant.avatar + ')'}"></div>
                <div class="user_presence_icon"></div>
                <div class="user_presence_icon_wraper"></div>
            </div>
            <div class="text_info">
                <div class="user_name">{{participant.nickName}}</div>
                <div class="user_presence" ng-show="isUserOnline(participant.chatUserId)">Онлайн</div>
                <div class="user_presence" ng-show="!isUserOnline(participant.chatUserId)">Оффлайн</div>
            </div>
            <div class="contact_control">
            <checkbox ng-if="selectForAsk &amp;&amp; !participant.isParticipant" id="el" ng-model="include" ng-change="toggleUserToAskList(participant)"></checkbox>
        </div>
        </div>
    </div>
</div>
