<div ng-if="isTrainer()" ng-show="getTenantsList().length > 0" class="items_list_block top_block">
    <div class="block_head" ng-click="toggleFolded()">
        <div ng-show="canSelectForAsk" class="block_controll" modale-toggle="true" callback="toggleSelect($event)" ignore-id="['tenants_items']">
            <i class="material-icons unfoldable_element">{{checked.size == 0 ? 'assignment_ind' : 'done'}}</i></div>
        <div ng-if="getTenantsList().length == 0" class="dropdown_icon material-icons ng-class:{unfolded:!folded}"></div>
        <div ng-if="getTenantsList().length > 1" class="dropdown_icon material-icons ng-class:{unfolded:!folded}">arrow_drop_down</div>
        <div class="block_name">{{blockName}}</div>
        <i ng-click="toggleCollapseBlock($event)" class="collapse_block_button material-icons" ng-class="{'detach':collapsed}">
            {{collapsed ? 'web_asset' : '&#8722'}}
</svg>
        </i>
    </div>
    <div id="tenants_items" class="block_content scroll ng-class:{unfolded:!folded,collapsed:collapsed}">
        <div ng-if="selectForAsk" class="block_item select-all">
            Вибрати усіх
            <div class="contact_control">
                <checkbox value="toggleAll.fs" callback="toggleAllFunc()"></checkbox>
            </div>
        </div>
        <div ng-click="clickToUserEvent(participant)" ng-if="getChatUserId() != participant.chatUserId" class="block_item" ng-repeat="participant in getTenantsList() | orderBy:participantsSort">
            <div class="avatar ng-class:{offline:!isUserOnline(participant.chatUserId), online:isUserOnline(participant.chatUserId)}">
                <div class="user_image" ng-style="{'background-image':'url(' + $root.imagesPath + '/avatars/' + participant.avatar + ')'}"></div>
                <div class="user_presence_icon"></div>
                <div class="user_presence_icon_wraper"></div>
            </div>
            <div class="text_info">
                <div class="user_name">{{participant.nickName}}</div>
                <div class="user_presence" ng-show="isUserOnline(participant.chatUserId)">Онлайн</div>
                <div class="user_presence" ng-show="!isUserOnline(participant.chatUserId)">Оффлайн</div>
            </div>
            <div class="contact_control">
                <checkbox class="user-check-tenant" ng-if="selectForAsk &amp;&amp; !participant.isParticipant" value="checked[participant.chatUserId]" callback="toggleUserToAskList(participant)"></checkbox>
            </div>
        </div>
    </div>
</div>
