<div ng-if="isTrainer()" ng-show="getTenantsList().length > 0" class="items_list_block top_block">
    <div class="block_head" ng-click="toggleFolded($event,getTenantsList().length)">
        <div ng-show="canSelectForAsk" class="block_controll" modale-toggle="true" callback="toggleSelect($event)" ignore-id="['tenants_items']">
            <i class="material-icons unfoldable_element">{{checked.size == 0 ? 'assignment_ind' : 'done'}}</i></div>
        <div class="block_name">{{blockName}}</div>
       <div class="collapse_block_button" ng-class="{'detach':collapsed}">
            <div class="arrow_down"  ng-if="isHalfUnfoldBlockIcon()">
            <img src="images/arrow.svg"></img>
            </div>
            <div class="arrows_down" ng-if="isFullUnfoldBlockIcon()">
            <img  src="images/arrows.svg" ></img>
            </div>
            <i class="material-icons" ng-if="isHideBlockIcon()">keyboard_arrow_up</i>
        </div>
    </div>
    <div id="tenants_items" class="block_content scroll ng-class:{unfolded:isFullUnfolded(),collapsed:!isUnfolded()}">
        <div ng-if="selectForAsk" class="block_item select-all">
            Вибрати усіх
            <div class="contact_control">
                <checkbox value="toggleAll.fs" callback="toggleAllFunc()"></checkbox>
            </div>
        </div>
        <div ng-click="clickToUserEvent(participant)" ng-if="getChatUserId() != participant.chatUserId" class="block_item" ng-repeat="participant in getTenantsList() | orderBy:participantsSort">
            <div class="avatar ng-class:{offline:!isUserOnline(participant.chatUserId), online:isUserOnline(participant.chatUserId)}">
                <div class="user_image" ng-style="{'background-image':'url(' + $root.imagesPath + '/avatars/' + participant.avatar + ')'}"></div>
                <div class="user_presence_icon"></div>
                <div class="user_presence_icon_wraper"></div>
            </div>
            <div class="text_info">
                <div class="user_name">{{participant.nickName}}</div>
                <div class="user_presence" ng-show="isUserOnline(participant.chatUserId)">Онлайн</div>
                <div class="user_presence" ng-show="!isUserOnline(participant.chatUserId)">Оффлайн</div>
            </div>
            <div class="contact_control">
                <checkbox class="user-check-tenant" ng-if="selectForAsk &amp;&amp; !participant.isParticipant" value="checked[participant.chatUserId]" callback="toggleUserToAskList(participant)"></checkbox>
            </div>
        </div>
    </div>
</div>
