<div id="trainers-block" ng-if="students().length > 0" class="items_list_block top_block">
    <div class="block_head" ng-click="toggleFolded($event,students().length)">
        <div class="block_controll hide"></div>
        <div class="block_name">{{blockName}}</div>
        <div class="collapse_block_button" ng-class="{'detach':collapsed}">
            <div class="arrow_down"  ng-if="isHalfUnfoldBlockIcon()">
            <img src="images/arrow.svg"></img>
            </div>
            <div class="arrows_down" ng-if="isFullUnfoldBlockIcon()">
            <img  src="images/arrows.svg" ></img>
            </div>
            <i class="material-icons" ng-if="isHideBlockIcon()">keyboard_arrow_up</i>
        </div>
    </div>
    <div class="block_content scroll ng-class:{unfolded:isFullUnfolded(),collapsed:!isUnfolded()}">
        <div class="block_item" ng-repeat="student in students() | orderBy:participantsSort" ng-click="goToPrivateDialog(student.intitaUserId)">
            <div class="avatar ng-class:{offline:!isUserOnline(student.chatUser.id), online:isUserOnline(student.chatUser.id)}">
                <div class="user_image" ng-style="{'background-image':'url(' + $root.imagesPath + '/avatars/' + student.avatar + ')'}"></div>
                <div class="user_presence_icon"></div>
                <div class="user_presence_icon_wraper"></div>
            </div>
            <div class="text_info">
                <div class="user_name">{{student.nickName}}</div>
                <!--<div class="user_presence">Остання активність</div>-->
            </div>
        </div>
    </div>
</div>
