<div id="user-block" class="items_list_block top_block">
    <div class="block_head" ng-click="toggleFolded()">
        <div class="block_controll hide"></div>
        <div class="block_name">{{blockName}}</div>
        <div ng-click="toggleCollapseBlock($event)" class="collapse_block_button" ng-class="{'detach':collapsed}">
            <i class="material-icons" ng-if="!isUnfolded()" >keyboard_arrow_down</i>
            <i class="material-icons" ng-if="isHalfUnfolded()">arrow_downward</i>
            <i class="material-icons" ng-if="isFullUnfolded()">keyboard_arrow_up</i>
        </div>
    </div>
    <div class="block_content scroll ng-class:{unfolded:isFullUnfolded(),collapsed:!isUnfolded()}" >
        <div  class="block_item" ng-if="$root.authorize" >
            <div class="avatar online" ng-click="$root.showUserProfileByChatUserId(getUser().id)">
                <div class="user_image" ng-style="{'background-image':'url(' + $root.imagesPath + '/avatars/' + getUser().avatar + ')'}"></div>
                <div class="user_presence_icon"></div>
                <div class="user_presence_icon_wraper"></div>
            </div>
            <div class="text_info">
                <div class="user_name">{{getUser().nickName}}</div>
                <!--<div class="user_presence">Остання активність</div>-->
            </div>
        </div>
        <div class="block_item" ng-if="!$root.authorize">
            <div class="login_button">
                <a class="login_button_text_wrapper" ng-href="{{mySettings.baseUrl}}/site/authorize?callBack={{getCurrentLocation()}}">
                <span>УВІЙТИ</span>
                <span>/&gt;</span>
                </a>
            </div>
        </div>
    </div>
</div>
