<div class="modal-header" th:text="${lgPack.ratingModal.question}">
    Оцініть розмову
</div>
<div class="modal-content">
 <div ng-repeat="rating in ratings"><div>{{rating.name}}</div> <div><star-rating ng-class="large" ng-model="rating.value"></star-rating></div></div>

</div>
<div class="modal-footer">
    <button ng-show="addRatingsButtonShowed" id="closeButton" type="button" class="btn btn-default modal-btn-left" ng-click="closeThisDialog(); addRatings();" th:text="${lgPack.chatGlobal.save}">Зберегти</button>
</div>