<div class="user dialog">
    <div class="avatar">
        <a target="_blank" ng-if="match.model.intitaUserId" ng-href="{{$root.baseurl}}/profile/{{match.model.intitaUserId}}">
            <div class="avatar-contaiter centered">
                <!--ng-init="scaleCenterIconCircle()" -->
                <img ng-src="{{$root.baseurl}}/images/avatars/{{match.model.avatar}}" alt="{{match.model.username}}" />
            </div>
        </a>
        <a target="_blank" ng-if="!match.model.intitaUserId"> <img ng-src="{{$root.baseurl}}/images/avatars/{{match.model.avatar}}" alt="{{match.model.username}}" />
        </a>
        <div ng-class="!match.model.online ? 'status offline' : 'status online'" class=""></div>
    </div>
    <div class="name dialog">{{$root.getUserSearchIndetify(match.model, $parent.searchInputValue.email)}}</div>
</div>
