<div class="modal-header">
    Профіль користувача
</div>
<div class="modal-content">
	<div class="user_profile_record" ng-if="user.firstName.length>0">
    <span>Імя:</span>
    <span>{{user.firstName}}</span>
    </div>
   	
   	<div class="user_profile_record" ng-if="user.lastName.length>0">
    <span>Прізвище:</span>
    <span>{{user.lastName}}</span>
    </div>
    
    <div class="user_profile_record" ng-if="user.nickname.length>0">
    <span>Нікнейм:</span>
    <span>{{user.nickname}}</span>
    </div>
    
    <div class="user_profile_record" ng-if="user.email.length>0">
    <span>Пошта:</span>
    <a ng-href="{{'mailto:' + user.email}}">{{user.email}}</a>
    </div>
    
    <div class="user_profile_record" ng-if="user.skype.length>0">
    <span>Skype:</span>
    <a ng-href="{{'skype:' + user.skype + '?call'}}">{{user.skype}}</a>
    </div>

	<div class="user_profile_record" ng-if="user.avatar.length>0">
    <img class="user_profile_avatar" ng-src="{{$root.imagesPath + '/avatars/' + user.avatar}}" alt="">
    </div>

</div>
<div class="modal-footer">
</div>